---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=200%2019th%20St&address[city]=Birmingham&address[zip]=35203&address[phone]=123456789&address[name]=Newt%20Scamander&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775f24ee82e4c90000639d
      Location:
      - "/api/v2/addresses/adr_ce288f2d8aef4cb2a6d7590db60bfd3c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_ce288f2d8aef4cb2a6d7590db60bfd3c","object":"Address","created_at":"2019-09-10T08:30:28Z","updated_at":"2019-09-10T08:30:28Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Sep 2019 08:30:28 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775f26ee813bed000063eb
      Location:
      - "/api/v2/parcels/prcl_11c1ac0da9f54cdf824ddba34842c69c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_11c1ac0da9f54cdf824ddba34842c69c","object":"Parcel","created_at":"2019-09-10T08:30:30Z","updated_at":"2019-09-10T08:30:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:30:30 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_ce288f2d8aef4cb2a6d7590db60bfd3c&shipment[from_address][id]=adr_3ce8949deecd405e800cfb69326a60d1&shipment[parcel][id]=prcl_11c1ac0da9f54cdf824ddba34842c69c
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775f26ee716a0f0000640d
      Location:
      - "/api/v2/shipments/shp_b0ef3e43ec23460483d972c58cab5fa3"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-09-10T08:30:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-09-10T08:30:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3ce8949deecd405e800cfb69326a60d1","object":"Address","created_at":"2019-09-10T08:30:29Z","updated_at":"2019-09-10T08:30:29Z","name":null,"company":null,"street1":"2630
        Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_11c1ac0da9f54cdf824ddba34842c69c","object":"Parcel","created_at":"2019-09-10T08:30:30Z","updated_at":"2019-09-10T08:30:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_6a821b1cde184e6caabb5b04d37dd4bd","object":"Rate","created_at":"2019-09-10T08:30:31Z","updated_at":"2019-09-10T08:30:31Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.32","currency":"USD","retail_rate":"7.32","retail_currency":"USD","list_rate":"7.32","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b0ef3e43ec23460483d972c58cab5fa3","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_09efa6abc8f04c09a0e5b6e405e5774b","object":"Rate","created_at":"2019-09-10T08:30:31Z","updated_at":"2019-09-10T08:30:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.78","currency":"USD","retail_rate":"25.70","retail_currency":"USD","list_rate":"22.78","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b0ef3e43ec23460483d972c58cab5fa3","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8d515e480d8a4d5b89f31211a8504778","object":"Rate","created_at":"2019-09-10T08:30:31Z","updated_at":"2019-09-10T08:30:31Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.42","currency":"USD","retail_rate":"7.85","retail_currency":"USD","list_rate":"7.42","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_b0ef3e43ec23460483d972c58cab5fa3","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_ce288f2d8aef4cb2a6d7590db60bfd3c","object":"Address","created_at":"2019-09-10T08:30:28Z","updated_at":"2019-09-10T08:30:28Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_3ce8949deecd405e800cfb69326a60d1","object":"Address","created_at":"2019-09-10T08:30:29Z","updated_at":"2019-09-10T08:30:29Z","name":null,"company":null,"street1":"2630
        Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_ce288f2d8aef4cb2a6d7590db60bfd3c","object":"Address","created_at":"2019-09-10T08:30:28Z","updated_at":"2019-09-10T08:30:28Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_b0ef3e43ec23460483d972c58cab5fa3","object":"Shipment"}'
  recorded_at: Tue, 10 Sep 2019 08:30:31 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_b0ef3e43ec23460483d972c58cab5fa3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775f28ee8247640000644a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-09-10T08:30:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-09-10T08:30:31Z","batch_id":null,"batch_status":null,"batch_message":null,"cus[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_b0ef3e43ec23460483d972c58cab5fa3/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_6a821b1cde184e6caabb5b04d37dd4bd
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775f28ee80c48f0000646f
      Content-Type:
[...]
