---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=200%2019th%20St&address[city]=Birmingham&address[zip]=35203&address[phone]=123456789&address[name]=Newt%20Scamander&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f03ee61721200010c95
      Location:
      - "/api/v2/addresses/adr_c56faf78ce1d4c4f8bcfb6ac436a8409"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_c56faf78ce1d4c4f8bcfb6ac436a8409","object":"Address","created_at":"2019-11-12T08:36:19Z","updated_at":"2019-11-12T08:36:19Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:36:19 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f04ee80a32500010cb3
      Location:
      - "/api/v2/parcels/prcl_212ff2d599674940a0216dd1c424dd4d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_212ff2d599674940a0216dd1c424dd4d","object":"Parcel","created_at":"2019-11-12T08:36:20Z","updated_at":"2019-11-12T08:36:20Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:36:20 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_c56faf78ce1d4c4f8bcfb6ac436a8409&shipment[from_address][id]=adr_742eb9c109a14ed1ae847b342cb7040d&shipment[parcel][id]=prcl_212ff2d599674940a0216dd1c424dd4d
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f05ee6fb88d00010cc0
      Location:
      - "/api/v2/shipments/shp_af9c4da9ce6c4a15899faa7eed51a4db"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:36:21Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:36:21Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_742eb9c109a14ed1ae847b342cb7040d","object":"Address","created_at":"2019-11-12T08:36:19Z","updated_at":"2019-11-12T08:36:19Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_212ff2d599674940a0216dd1c424dd4d","object":"Parcel","created_at":"2019-11-12T08:36:20Z","updated_at":"2019-11-12T08:36:20Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_25295b5a7c2a4fea9c91e9e2f8b2128c","object":"Rate","created_at":"2019-11-12T08:36:21Z","updated_at":"2019-11-12T08:36:21Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.42","currency":"USD","retail_rate":"7.85","retail_currency":"USD","list_rate":"7.42","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_af9c4da9ce6c4a15899faa7eed51a4db","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_352bf56489604a12afef32120e2dd283","object":"Rate","created_at":"2019-11-12T08:36:21Z","updated_at":"2019-11-12T08:36:21Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.32","currency":"USD","retail_rate":"7.32","retail_currency":"USD","list_rate":"7.32","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_af9c4da9ce6c4a15899faa7eed51a4db","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8fe38ca910994c08a19e1011b96d32de","object":"Rate","created_at":"2019-11-12T08:36:21Z","updated_at":"2019-11-12T08:36:21Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.78","currency":"USD","retail_rate":"25.70","retail_currency":"USD","list_rate":"22.78","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_af9c4da9ce6c4a15899faa7eed51a4db","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_c56faf78ce1d4c4f8bcfb6ac436a8409","object":"Address","created_at":"2019-11-12T08:36:19Z","updated_at":"2019-11-12T08:36:19Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_742eb9c109a14ed1ae847b342cb7040d","object":"Address","created_at":"2019-11-12T08:36:19Z","updated_at":"2019-11-12T08:36:19Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_c56faf78ce1d4c4f8bcfb6ac436a8409","object":"Address","created_at":"2019-11-12T08:36:19Z","updated_at":"2019-11-12T08:36:19Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_af9c4da9ce6c4a15899faa7eed51a4db","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:36:21 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_af9c4da9ce6c4a15899faa7eed51a4db
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f06ee70518c00010cdb
      Content-Type:
      - application/json; charset=utf-8
      [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_af9c4da9ce6c4a15899faa7eed51a4db/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_352bf56489604a12afef32120e2dd283
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f07ee738b3200010cef
      Content-Type:
[...]
