---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=200%2019th%20St&address[city]=Birmingham&address[zip]=35203&address[phone]=123456789&address[name]=Newt%20Scamander&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_544d603cba11461090b7a2bd116a8a30"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c298b6757d734fcb8d04a99b503980b"
      X-Node:
      - web14sj, 6427aa0e60
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_544d603cba11461090b7a2bd116a8a30","object":"Address","created_at":"2015-12-02T21:34:18Z","updated_at":"2015-12-02T21:34:18Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:20 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_6c662e0c441a4fd692f71b0723a5de43"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fbc515d5b70d6fb472b65bcef3047354"
      X-Node:
      - web10sj, c3ab94a7a6
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_6c662e0c441a4fd692f71b0723a5de43","object":"Parcel","created_at":"2015-12-02T21:34:19Z","updated_at":"2015-12-02T21:34:19Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:21 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_544d603cba11461090b7a2bd116a8a30&shipment[from_address][id]=adr_7f2b0a54c4664c8a985930f87e87e203&shipment[parcel][id]=prcl_6c662e0c441a4fd692f71b0723a5de43
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_51d5cc7295884ab88063663dbfffe1f8"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a232bfe8b9d91cb433a392cde69a004d"
      X-Node:
      - web3sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:19Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7f2b0a54c4664c8a985930f87e87e203","object":"Address","created_at":"2015-12-02T21:34:19Z","updated_at":"2015-12-02T21:34:19Z","name":null,"company":"Spree
        Test Store 21","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_6c662e0c441a4fd692f71b0723a5de43","object":"Parcel","created_at":"2015-12-02T21:34:19Z","updated_at":"2015-12-02T21:34:19Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2e6265294e734da991ffbb492cc512ad","object":"Rate","created_at":"2015-12-02T21:34:20Z","updated_at":"2015-12-02T21:34:20Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.90","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.90","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_51d5cc7295884ab88063663dbfffe1f8","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_07617a03a69d48a792e05ea64c41919c","object":"Rate","created_at":"2015-12-02T21:34:20Z","updated_at":"2015-12-02T21:34:20Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.32","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.32","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_51d5cc7295884ab88063663dbfffe1f8","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a3254bc599bd4a909e8602db0abeacf1","object":"Rate","created_at":"2015-12-02T21:34:20Z","updated_at":"2015-12-02T21:34:20Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.58","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.58","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_51d5cc7295884ab88063663dbfffe1f8","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_544d603cba11461090b7a2bd116a8a30","object":"Address","created_at":"2015-12-02T21:34:18Z","updated_at":"2015-12-02T21:34:18Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":1,"return_address":{"id":"adr_7f2b0a54c4664c8a985930f87e87e203","object":"Address","created_at":"2015-12-02T21:34:19Z","updated_at":"2015-12-02T21:34:19Z","name":null,"company":"Spree
        Test Store 21","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_544d603cba11461090b7a2bd116a8a30","object":"Address","created_at":"2015-12-02T21:34:18Z","updated_at":"2015-12-02T21:34:18Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_51d5cc7295884ab88063663dbfffe1f8","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:22 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_51d5cc7295884ab88063663dbfffe1f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a232bfe8b9d91cb433a3[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_51d5cc7295884ab88063663dbfffe1f8/buy
    body:
      encoding: US-ASCII
      string: rate[id]=rate_07617a03a69d48a792e05ea64c41919c
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ded3ce0f0935aabac1c4c6688d54848d"
      X-Node:
      - web15sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"postage_label":{"id":"pl_d5b589dffcb44668ad55a8f709bc44d8","object":"PostageLabel","created_at":"2015-12-02T21:34:21Z","updated_at":"2015-12-02T21:34:21Z","date_advance":0,"integrated_form":"none","label_date":"2015-12-02T21:34:19Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"http://assets.geteasypost.com/postage_labels/labels/20151202/e8a4d25d908843a2a4bd3497b5bbb23d.png","label_file_type":"image/png","label_pdf_url":null,"label_epl2_url":null,"label_zpl_url":null},"tracking_code":"9499907123456123456781","tracker":{"id":"trk_bec01fba18684e09b05831e543f07e61","object":"Tracker","mode":"test","tracking_code":"9499907123456123456781","status":"unknown","created_at":"2015-12-02T21:34:22Z","updated_at":"2015-12-02T21:34:22Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_51d5cc7295884ab88063663dbfffe1f8","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null},"insurance":null,"selected_rate":{"id":"rate_07617a03a69d48a792e05ea64c41919c","object":"Rate","created_at":"2015-12-02T21:34:20Z","updated_at":"2015-12-02T21:34:20Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.32","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.32","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_51d5cc7295884ab88063663dbfffe1f8","carrier_account_id":"ca_mtb51Ve0"},"forms":[],"messages":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.05000","charged":false,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"5.32000","charged":false,"refunded":false}]}'
  recorded_at: Wed, 02 Dec 2015 21:34:24 GMT
recorded_with: VCR 3.0.0
