---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cdcee70bbc500002105
      Location:
      - "/api/v2/addresses/adr_c309ef7d182c44698e3f6dafc50e3fb2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_c309ef7d182c44698e3f6dafc50e3fb2","object":"Address","created_at":"2019-09-10T08:20:44Z","updated_at":"2019-09-10T08:20:44Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Sep 2019 08:20:45 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cdeee7282d500002139
      Location:
      - "/api/v2/parcels/prcl_5374e3fbff504a159591a69dace5a804"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb1wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_5374e3fbff504a159591a69dace5a804","object":"Parcel","created_at":"2019-09-10T08:20:46Z","updated_at":"2019-09-10T08:20:46Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:20:46 GMT
recorded_with: VCR 5.0.0
