---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f12ee71656f00010dc3
      Location:
      - "/api/v2/addresses/adr_dda7b7a38fac43d4a20aa58457b0d77b"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_dda7b7a38fac43d4a20aa58457b0d77b","object":"Address","created_at":"2019-11-12T08:36:34Z","updated_at":"2019-11-12T08:36:34Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:36:34 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f13ee82f69400010ddd
      Location:
      - "/api/v2/parcels/prcl_41cdbb1830b046a4bab555626b0fdcb8"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_41cdbb1830b046a4bab555626b0fdcb8","object":"Parcel","created_at":"2019-11-12T08:36:35Z","updated_at":"2019-11-12T08:36:35Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:36:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_dda7b7a38fac43d4a20aa58457b0d77b&shipment[from_address][id]=adr_c44fdaf31c4e4d8fb1d7f825eccc0444&shipment[parcel][id]=prcl_41cdbb1830b046a4bab555626b0fdcb8
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f14ee82f21200010de8
      Location:
      - "/api/v2/shipments/shp_971b5dc387434c99a1e0ccf29fd3060a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:36:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:36:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c44fdaf31c4e4d8fb1d7f825eccc0444","object":"Address","created_at":"2019-11-12T08:36:35Z","updated_at":"2019-11-12T08:36:35Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_41cdbb1830b046a4bab555626b0fdcb8","object":"Parcel","created_at":"2019-11-12T08:36:35Z","updated_at":"2019-11-12T08:36:35Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_22466711dd474f63968e2e8932bbf52b","object":"Rate","created_at":"2019-11-12T08:36:36Z","updated_at":"2019-11-12T08:36:36Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_971b5dc387434c99a1e0ccf29fd3060a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_adfce8e5798146ce8a94da002b521f4b","object":"Rate","created_at":"2019-11-12T08:36:36Z","updated_at":"2019-11-12T08:36:36Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_971b5dc387434c99a1e0ccf29fd3060a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d57d2e2bca6e4b6cb30f5cbefa2c557a","object":"Rate","created_at":"2019-11-12T08:36:36Z","updated_at":"2019-11-12T08:36:36Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_971b5dc387434c99a1e0ccf29fd3060a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_cf639195145444efb7a18ae46cf23474","object":"Rate","created_at":"2019-11-12T08:36:36Z","updated_at":"2019-11-12T08:36:36Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_971b5dc387434c99a1e0ccf29fd3060a","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_dda7b7a38fac43d4a20aa58457b0d77b","object":"Address","created_at":"2019-11-12T08:36:34Z","updated_at":"2019-11-12T08:36:34Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_c44fdaf31c4e4d8fb1d7f825eccc0444","object":"Address","created_at":"2019-11-12T08:36:35Z","updated_at":"2019-11-12T08:36:35Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_dda7b7a38fac43d4a20aa58457b0d77b","object":"Address","created_at":"2019-11-12T08:36:34Z","updated_at":"2019-11-12T08:36:34Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_971b5dc387434c99a1e0ccf29fd3060a","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:36:36 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_971b5dc387434c99a1e0ccf29fd3060a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f15ee71f20d00010dfc
      Content-Type:
      - application/json; charset=utf-8
      [...]
