---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3682484b5f6b4b7fee6f1ae4000191be
      Location:
      - "/api/v2/addresses/adr_ad1bdf209da74b5c888cf690125be7bd"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj a561deb64e
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_ad1bdf209da74b5c888cf690125be7bd","object":"Address","created_at":"2020-09-23T13:19:59Z","updated_at":"2020-09-23T13:19:59Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Sep 2020 13:19:59 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":10}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a371cbc05f6b4b80ee81376100024eef
      Location:
      - "/api/v2/parcels/prcl_bfd38d1d1c1e4dccb548a3a9fc5147cc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc a561deb64e
      - intlb1wdc 8df81f0396
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_bfd38d1d1c1e4dccb548a3a9fc5147cc","object":"Parcel","created_at":"2020-09-23T13:20:00Z","updated_at":"2020-09-23T13:20:00Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 23 Sep 2020 13:20:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_ad1bdf209da74b5c888cf690125be7bd"},"to_address":{"id":"adr_df3c1494d8c343f3847eef1dbed24890"},"parcel":{"id":"prcl_bfd38d1d1c1e4dccb548a3a9fc5147cc"},"is_return":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a371cbc25f6b4b81ee72610e00024f0a
      Location:
      - "/api/v2/shipments/shp_22c2c9a436e94a959898f8d16fc900ea"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb1wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-23T13:20:01Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-23T13:20:01Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ad1bdf209da74b5c888cf690125be7bd","object":"Address","created_at":"2020-09-23T13:19:59Z","updated_at":"2020-09-23T13:19:59Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_bfd38d1d1c1e4dccb548a3a9fc5147cc","object":"Parcel","created_at":"2020-09-23T13:20:00Z","updated_at":"2020-09-23T13:20:00Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_99aa02b3e0044c2fadf6b633a8d23bea","object":"Rate","created_at":"2020-09-23T13:20:01Z","updated_at":"2020-09-23T13:20:01Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_22c2c9a436e94a959898f8d16fc900ea","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8d6e60c2ecb545bb95e36002fd0340c0","object":"Rate","created_at":"2020-09-23T13:20:01Z","updated_at":"2020-09-23T13:20:01Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_22c2c9a436e94a959898f8d16fc900ea","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_782dcb056adf448897a23499ffc02432","object":"Rate","created_at":"2020-09-23T13:20:01Z","updated_at":"2020-09-23T13:20:01Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_22c2c9a436e94a959898f8d16fc900ea","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a96bee8bdf604e538c229436e8d9258b","object":"Rate","created_at":"2020-09-23T13:20:01Z","updated_at":"2020-09-23T13:20:01Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_22c2c9a436e94a959898f8d16fc900ea","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_df3c1494d8c343f3847eef1dbed24890","object":"Address","created_at":"2020-09-23T13:20:00Z","updated_at":"2020-09-23T13:20:00Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_ad1bdf209da74b5c888cf690125be7bd","object":"Address","created_at":"2020-09-23T13:19:59Z","updated_at":"2020-09-23T13:19:59Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_df3c1494d8c343f3847eef1dbed24890","object":"Address","created_at":"2020-09-23T13:20:00Z","updated_at":"2020-09-23T13:20:00Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_22c2c9a436e94a959898f8d16fc900ea","object":"Shipment"}'
  recorded_at: Wed, 23 Sep 2020 13:20:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_22c2c9a436e94a959898f8d16fc900ea/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_99aa02b3e0044c2fadf6b633a8d23bea"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 4c4cd68e5f6b4b82ee738b5100018511
      Content-Typ[...]
