---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 19e6c2545f6b40c8ee8369d40000de66
      Location:
      - "/api/v2/addresses/adr_3eaf737b33c94deebe75616d3cc691db"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a561deb64e
      - intlb1nuq 8df81f0396
      - intlb1sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_3eaf737b33c94deebe75616d3cc691db","object":"Address","created_at":"2020-09-23T12:34:17Z","updated_at":"2020-09-23T12:34:17Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Sep 2020 12:34:17 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":10}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a7f39de65f6b40caee702f66000618c2
      Location:
      - "/api/v2/parcels/prcl_62d48cdf13e8493bb502f1f146b97e94"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj a561deb64e
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_62d48cdf13e8493bb502f1f146b97e94","object":"Parcel","created_at":"2020-09-23T12:34:18Z","updated_at":"2020-09-23T12:34:18Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 23 Sep 2020 12:34:18 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_3eaf737b33c94deebe75616d3cc691db"},"to_address":{"id":"adr_d85e1d87d4784192a9e85e05643a6ec4"},"parcel":{"id":"prcl_62d48cdf13e8493bb502f1f146b97e94"},"is_return":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a7f39de85f6b40cbee81c3a5000618e2
      Location:
      - "/api/v2/shipments/shp_9ffad714f67b45f6a42bdb89e083ef7a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj a561deb64e
      - intlb1sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-23T12:34:19Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-23T12:34:19Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3eaf737b33c94deebe75616d3cc691db","object":"Address","created_at":"2020-09-23T12:34:17Z","updated_at":"2020-09-23T12:34:17Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_62d48cdf13e8493bb502f1f146b97e94","object":"Parcel","created_at":"2020-09-23T12:34:18Z","updated_at":"2020-09-23T12:34:18Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_94e00e8ecc2f4523ad3e933b9ae2bd0b","object":"Rate","created_at":"2020-09-23T12:34:19Z","updated_at":"2020-09-23T12:34:19Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_9ffad714f67b45f6a42bdb89e083ef7a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_dd1ecafca48d405e8ce2ee4e6d0c4b5c","object":"Rate","created_at":"2020-09-23T12:34:19Z","updated_at":"2020-09-23T12:34:19Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9ffad714f67b45f6a42bdb89e083ef7a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8258787e5c974a2296a1f783c9fa3aaf","object":"Rate","created_at":"2020-09-23T12:34:19Z","updated_at":"2020-09-23T12:34:19Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9ffad714f67b45f6a42bdb89e083ef7a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e0e6f35e6f2541c5b7811c7fb04f3ffa","object":"Rate","created_at":"2020-09-23T12:34:19Z","updated_at":"2020-09-23T12:34:19Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9ffad714f67b45f6a42bdb89e083ef7a","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_d85e1d87d4784192a9e85e05643a6ec4","object":"Address","created_at":"2020-09-23T12:34:17Z","updated_at":"2020-09-23T12:34:17Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_3eaf737b33c94deebe75616d3cc691db","object":"Address","created_at":"2020-09-23T12:34:17Z","updated_at":"2020-09-23T12:34:17Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_d85e1d87d4784192a9e85e05643a6ec4","object":"Address","created_at":"2020-09-23T12:34:17Z","updated_at":"2020-09-23T12:34:17Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_9ffad714f67b45f6a42bdb89e083ef7a","object":"Shipment"}'
  recorded_at: Wed, 23 Sep 2020 12:34:19 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9ffad714f67b45f6a42bdb89e083ef7a/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_94e00e8ecc2f4523ad3e933b9ae2bd0b"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d1fd1b595f6b40ccee70cd090005cae5
      Content-Typ[...]
