---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cd6ee70d5b100002018
      Location:
      - "/api/v2/addresses/adr_e3c33bb954fb4dc09f65da543801afe0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_e3c33bb954fb4dc09f65da543801afe0","object":"Address","created_at":"2019-09-10T08:20:38Z","updated_at":"2019-09-10T08:20:38Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Sep 2019 08:20:39 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cd8ee72e8e80000206a
      Location:
      - "/api/v2/parcels/prcl_1ee897953d1544a5be12c572167d6faa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_1ee897953d1544a5be12c572167d6faa","object":"Parcel","created_at":"2019-09-10T08:20:41Z","updated_at":"2019-09-10T08:20:41Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:20:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_e3c33bb954fb4dc09f65da543801afe0&shipment[from_address][id]=adr_11b75e4199f54151801a44f600fa662a&shipment[parcel][id]=prcl_1ee897953d1544a5be12c572167d6faa
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cd9ee7169ed0000208e
      Location:
      - "/api/v2/shipments/shp_2abd3a91de8f4025ac3089046730e964"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-09-10T08:20:41Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-09-10T08:20:41Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_11b75e4199f54151801a44f600fa662a","object":"Address","created_at":"2019-09-10T08:20:39Z","updated_at":"2019-09-10T08:20:39Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1ee897953d1544a5be12c572167d6faa","object":"Parcel","created_at":"2019-09-10T08:20:41Z","updated_at":"2019-09-10T08:20:41Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_498123c887d340afb40c1f19d4253449","object":"Rate","created_at":"2019-09-10T08:20:42Z","updated_at":"2019-09-10T08:20:42Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2abd3a91de8f4025ac3089046730e964","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_dd6ac557acac499292a39e5ad43fd2c3","object":"Rate","created_at":"2019-09-10T08:20:42Z","updated_at":"2019-09-10T08:20:42Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2abd3a91de8f4025ac3089046730e964","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_5809cb94d3ea4823a8fd1f165b37fc4d","object":"Rate","created_at":"2019-09-10T08:20:42Z","updated_at":"2019-09-10T08:20:42Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2abd3a91de8f4025ac3089046730e964","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_c3ec7c6fd4a9456e9e723ed5182a14b7","object":"Rate","created_at":"2019-09-10T08:20:42Z","updated_at":"2019-09-10T08:20:42Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2abd3a91de8f4025ac3089046730e964","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_e3c33bb954fb4dc09f65da543801afe0","object":"Address","created_at":"2019-09-10T08:20:38Z","updated_at":"2019-09-10T08:20:38Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_11b75e4199f54151801a44f600fa662a","object":"Address","created_at":"2019-09-10T08:20:39Z","updated_at":"2019-09-10T08:20:39Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_e3c33bb954fb4dc09f65da543801afe0","object":"Address","created_at":"2019-09-10T08:20:38Z","updated_at":"2019-09-10T08:20:38Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_2abd3a91de8f4025ac3089046730e964","object":"Shipment"}'
  recorded_at: Tue, 10 Sep 2019 08:20:42 GMT
recorded_with: VCR 5.0.0
