---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Doe","state":"AL","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a371cbbf5f6b5314ee835c0a00036d2d
      Location:
      - "/api/v2/addresses/adr_7dca893daf4b41fdabea858f6c2f53ca"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_7dca893daf4b41fdabea858f6c2f53ca","object":"Address","created_at":"2020-09-23T13:52:20Z","updated_at":"2020-09-23T13:52:20Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Sep 2020 13:52:20 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 937dbd605f6b5316ee725d0e00038dba
      Location:
      - "/api/v2/parcels/prcl_2959712a638f4e1794999e63f6ef7f1f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_2959712a638f4e1794999e63f6ef7f1f","object":"Parcel","created_at":"2020-09-23T13:52:22Z","updated_at":"2020-09-23T13:52:22Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 23 Sep 2020 13:52:22 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_7dca893daf4b41fdabea858f6c2f53ca"},"from_address":{"id":"adr_cb5a8f8f66024a589bc8016d30f256ed"},"parcel":{"id":"prcl_2959712a638f4e1794999e63f6ef7f1f"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 937dbd5f5f6b5316ee70de3300038dce
      Location:
      - "/api/v2/shipments/shp_031353505bc84d37aed8fba58174d4a5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-23T13:52:22Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-23T13:52:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_cb5a8f8f66024a589bc8016d30f256ed","object":"Address","created_at":"2020-09-23T13:52:21Z","updated_at":"2020-09-23T13:52:21Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_2959712a638f4e1794999e63f6ef7f1f","object":"Parcel","created_at":"2020-09-23T13:52:22Z","updated_at":"2020-09-23T13:52:22Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_f523c0e789214a31b715d97298081649","object":"Rate","created_at":"2020-09-23T13:52:23Z","updated_at":"2020-09-23T13:52:23Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_031353505bc84d37aed8fba58174d4a5","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a5a7b528101d423c87a9391ceb732064","object":"Rate","created_at":"2020-09-23T13:52:23Z","updated_at":"2020-09-23T13:52:23Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_031353505bc84d37aed8fba58174d4a5","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_be8793b0b3164e44a44eb06e5f1de61d","object":"Rate","created_at":"2020-09-23T13:52:23Z","updated_at":"2020-09-23T13:52:23Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_031353505bc84d37aed8fba58174d4a5","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_300a8a37486845fb8ccf5af1d63ae566","object":"Rate","created_at":"2020-09-23T13:52:23Z","updated_at":"2020-09-23T13:52:23Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_031353505bc84d37aed8fba58174d4a5","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_7dca893daf4b41fdabea858f6c2f53ca","object":"Address","created_at":"2020-09-23T13:52:20Z","updated_at":"2020-09-23T13:52:20Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_cb5a8f8f66024a589bc8016d30f256ed","object":"Address","created_at":"2020-09-23T13:52:21Z","updated_at":"2020-09-23T13:52:21Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_7dca893daf4b41fdabea858f6c2f53ca","object":"Address","created_at":"2020-09-23T13:52:20Z","updated_at":"2020-09-23T13:52:20Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_031353505bc84d37aed8fba58174d4a5","object":"Shipment"}'
  recorded_at: Wed, 23 Sep 2020 13:52:23 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_031353505bc84d37aed8fba58174d4a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f168e8e25f6b5318ee61615100036967
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq a561deb64e
      - intlb1sj 8df81f0396
      - intlb2nuq 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-23T13:52:22Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-23T13:52:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"f[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_031353505bc84d37aed8fba58174d4a5/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_be8793b0b3164e44a44eb06e5f1de61d"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f168e8dd5f6b5319ee7397f500036986
      Content-Typ[...]
