---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=10%20Lovely%20Street&address[street2]=Northwest&address[city]=Herndon&address[zip]=35005&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_4cd663a342504159884c4dc602f73963"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea2be728a68d701d8ece043c208b1ffd"
      X-Node:
      - web4sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_4cd663a342504159884c4dc602f73963","object":"Address","created_at":"2015-12-02T21:34:10Z","updated_at":"2015-12-02T21:34:10Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:12 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_5167345b2cda44aa9e0e47964f7f1bcc"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f58060cfc2ea56fddc57333a4d25fae0"
      X-Node:
      - web15sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_5167345b2cda44aa9e0e47964f7f1bcc","object":"Parcel","created_at":"2015-12-02T21:34:11Z","updated_at":"2015-12-02T21:34:11Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:13 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_4cd663a342504159884c4dc602f73963&shipment[from_address][id]=adr_296cc964ffa44815a8c2612789a33aba&shipment[parcel][id]=prcl_5167345b2cda44aa9e0e47964f7f1bcc
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_9561177d3ea94a65866868eae5527f1c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1707c59b82079c3c6f719d0b86056287"
      X-Node:
      - web15sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:11Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:11Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_296cc964ffa44815a8c2612789a33aba","object":"Address","created_at":"2015-12-02T21:34:10Z","updated_at":"2015-12-02T21:34:10Z","name":null,"company":"Spree
        Test Store 9","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_5167345b2cda44aa9e0e47964f7f1bcc","object":"Parcel","created_at":"2015-12-02T21:34:11Z","updated_at":"2015-12-02T21:34:11Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_47e9b9ecd16147e0b2bbc3215f73b6d2","object":"Rate","created_at":"2015-12-02T21:34:12Z","updated_at":"2015-12-02T21:34:12Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.54","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.54","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_9561177d3ea94a65866868eae5527f1c","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e3a8ad21c9c4423eabbff99f342261e0","object":"Rate","created_at":"2015-12-02T21:34:12Z","updated_at":"2015-12-02T21:34:12Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.09","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"6.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_9561177d3ea94a65866868eae5527f1c","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b56f607625904a1d8bf0d9934c279059","object":"Rate","created_at":"2015-12-02T21:34:12Z","updated_at":"2015-12-02T21:34:12Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_9561177d3ea94a65866868eae5527f1c","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b512d1444be040d39dee98951f32cee5","object":"Rate","created_at":"2015-12-02T21:34:12Z","updated_at":"2015-12-02T21:34:12Z","mode":"test","service":"Express","carrier":"USPS","rate":"25.21","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"25.21","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_9561177d3ea94a65866868eae5527f1c","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_4cd663a342504159884c4dc602f73963","object":"Address","created_at":"2015-12-02T21:34:10Z","updated_at":"2015-12-02T21:34:10Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":5,"return_address":{"id":"adr_296cc964ffa44815a8c2612789a33aba","object":"Address","created_at":"2015-12-02T21:34:10Z","updated_at":"2015-12-02T21:34:10Z","name":null,"company":"Spree
        Test Store 9","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_4cd663a342504159884c4dc602f73963","object":"Address","created_at":"2015-12-02T21:34:10Z","updated_at":"2015-12-02T21:34:10Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_9561177d3ea94a65866868eae5527f1c","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:14 GMT
recorded_with: VCR 3.0.0
