---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[zip]=08835&address[phone]=(202)%20456-1111&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775d0bee70de790000264f
      Location:
      - "/api/v2/addresses/adr_7a019d453612476aa2b6b8412e29af7c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_7a019d453612476aa2b6b8412e29af7c","object":"Address","created_at":"2019-09-10T08:21:31Z","updated_at":"2019-09-10T08:21:31Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Sep 2019 08:21:31 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775d0cee81332200002674
      Location:
      - "/api/v2/parcels/prcl_eee57dc562c34986bc9d36b7ba13df36"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_eee57dc562c34986bc9d36b7ba13df36","object":"Parcel","created_at":"2019-09-10T08:21:32Z","updated_at":"2019-09-10T08:21:32Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:21:32 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[from_address][id]=adr_7a019d453612476aa2b6b8412e29af7c&shipment[to_address][id]=adr_641ea799e41c410ea22e938da5707f50&shipment[parcel][id]=prcl_eee57dc562c34986bc9d36b7ba13df36&shipment[is_return]=true
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775d0dee70d56a00002688
      Location:
      - "/api/v2/shipments/shp_22f421dd69dc4d309aa2c647571c0862"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-09-10T08:21:33Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-09-10T08:21:33Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7a019d453612476aa2b6b8412e29af7c","object":"Address","created_at":"2019-09-10T08:21:31Z","updated_at":"2019-09-10T08:21:31Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_eee57dc562c34986bc9d36b7ba13df36","object":"Parcel","created_at":"2019-09-10T08:21:32Z","updated_at":"2019-09-10T08:21:32Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_7efc4b2c75b94bd89fa0ba7b5f31490c","object":"Rate","created_at":"2019-09-10T08:21:33Z","updated_at":"2019-09-10T08:21:33Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_22f421dd69dc4d309aa2c647571c0862","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_92fca2b99b4a440780aca5ce3d569789","object":"Rate","created_at":"2019-09-10T08:21:33Z","updated_at":"2019-09-10T08:21:33Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_22f421dd69dc4d309aa2c647571c0862","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_69e201acbd8349708b7d7823a6076a3d","object":"Rate","created_at":"2019-09-10T08:21:33Z","updated_at":"2019-09-10T08:21:33Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_22f421dd69dc4d309aa2c647571c0862","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d984cf8126894be88b92e76bea2f52d6","object":"Rate","created_at":"2019-09-10T08:21:33Z","updated_at":"2019-09-10T08:21:33Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_22f421dd69dc4d309aa2c647571c0862","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_641ea799e41c410ea22e938da5707f50","object":"Address","created_at":"2019-09-10T08:21:31Z","updated_at":"2019-09-10T08:21:31Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_7a019d453612476aa2b6b8412e29af7c","object":"Address","created_at":"2019-09-10T08:21:31Z","updated_at":"2019-09-10T08:21:31Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_641ea799e41c410ea22e938da5707f50","object":"Address","created_at":"2019-09-10T08:21:31Z","updated_at":"2019-09-10T08:21:31Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_22f421dd69dc4d309aa2c647571c0862","object":"Shipment"}'
  recorded_at: Tue, 10 Sep 2019 08:21:33 GMT
recorded_with: VCR 5.0.0
