---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[zip]=08835&address[phone]=(202)%20456-1111&address[name]=NY%20Warehouse&address[company]=NY%20Warehouse&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f29ee725c2600010f57
      Location:
      - "/api/v2/addresses/adr_4347da93674b453dbfd47c8e10f78a86"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4347da93674b453dbfd47c8e10f78a86","object":"Address","created_at":"2019-11-12T08:36:57Z","updated_at":"2019-11-12T08:36:57Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:36:57 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f2bee72f56700010f6e
      Location:
      - "/api/v2/parcels/prcl_403d962cbc904247897aa52f3290d5cd"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_403d962cbc904247897aa52f3290d5cd","object":"Parcel","created_at":"2019-11-12T08:36:59Z","updated_at":"2019-11-12T08:36:59Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:36:59 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[from_address][id]=adr_4347da93674b453dbfd47c8e10f78a86&shipment[to_address][id]=adr_ded65acf0a9844c5943001953bd7212b&shipment[parcel][id]=prcl_403d962cbc904247897aa52f3290d5cd&shipment[is_return]=true
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f2bee73930e00010f7d
      Location:
      - "/api/v2/shipments/shp_5fbb3a666bbd44b1a4972ee7a37a0264"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:37:00Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:37:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4347da93674b453dbfd47c8e10f78a86","object":"Address","created_at":"2019-11-12T08:36:57Z","updated_at":"2019-11-12T08:36:57Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_403d962cbc904247897aa52f3290d5cd","object":"Parcel","created_at":"2019-11-12T08:36:59Z","updated_at":"2019-11-12T08:36:59Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a1b453f6679543eb8c19bb32ece72755","object":"Rate","created_at":"2019-11-12T08:37:00Z","updated_at":"2019-11-12T08:37:00Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_5fbb3a666bbd44b1a4972ee7a37a0264","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_0d23fd665d9c4cbaa74c4fc015429afd","object":"Rate","created_at":"2019-11-12T08:37:00Z","updated_at":"2019-11-12T08:37:00Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_5fbb3a666bbd44b1a4972ee7a37a0264","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_29230bc9a5734adb8eb8423120ad9212","object":"Rate","created_at":"2019-11-12T08:37:00Z","updated_at":"2019-11-12T08:37:00Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_5fbb3a666bbd44b1a4972ee7a37a0264","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_806baafbd52e45edaebc319a32ade00e","object":"Rate","created_at":"2019-11-12T08:37:00Z","updated_at":"2019-11-12T08:37:00Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_5fbb3a666bbd44b1a4972ee7a37a0264","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_ded65acf0a9844c5943001953bd7212b","object":"Address","created_at":"2019-11-12T08:36:58Z","updated_at":"2019-11-12T08:36:58Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_4347da93674b453dbfd47c8e10f78a86","object":"Address","created_at":"2019-11-12T08:36:57Z","updated_at":"2019-11-12T08:36:57Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_ded65acf0a9844c5943001953bd7212b","object":"Address","created_at":"2019-11-12T08:36:58Z","updated_at":"2019-11-12T08:36:58Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_5fbb3a666bbd44b1a4972ee7a37a0264","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:37:00 GMT
recorded_with: VCR 5.0.0
