---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=10%20Lovely%20Street&address[street2]=Northwest&address[city]=Herndon&address[zip]=35005&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_dce8c33a921c424f84eec963ca9600a2"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3616b556181328457e6e8f26e6c9b1cc"
      X-Node:
      - web3sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_dce8c33a921c424f84eec963ca9600a2","object":"Address","created_at":"2015-12-02T21:34:34Z","updated_at":"2015-12-02T21:34:34Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:35 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_03e140296edd42c6a7a2f82f69437bdf"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4df3086768ff8aa2b5a04f4a206422e1"
      X-Node:
      - web6sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_03e140296edd42c6a7a2f82f69437bdf","object":"Parcel","created_at":"2015-12-02T21:34:34Z","updated_at":"2015-12-02T21:34:34Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_dce8c33a921c424f84eec963ca9600a2&shipment[from_address][id]=adr_593b8ffc28504ecf99f56bbf2689c74b&shipment[parcel][id]=prcl_03e140296edd42c6a7a2f82f69437bdf
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_4dc66c75110f4faa9e421732d36e3f21"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dcef352f20e25333e3af31c338e24e2a"
      X-Node:
      - web3sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_593b8ffc28504ecf99f56bbf2689c74b","object":"Address","created_at":"2015-12-02T21:34:34Z","updated_at":"2015-12-02T21:34:34Z","name":null,"company":"Spree
        Test Store 33","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_03e140296edd42c6a7a2f82f69437bdf","object":"Parcel","created_at":"2015-12-02T21:34:34Z","updated_at":"2015-12-02T21:34:34Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_69269c138d8e400aa5160b03dbbedd1b","object":"Rate","created_at":"2015-12-02T21:34:35Z","updated_at":"2015-12-02T21:34:35Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.54","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.54","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_4dc66c75110f4faa9e421732d36e3f21","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_091654e816ff45b98625c1e0e226fcc9","object":"Rate","created_at":"2015-12-02T21:34:35Z","updated_at":"2015-12-02T21:34:35Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.09","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"6.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_4dc66c75110f4faa9e421732d36e3f21","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_53b73e251c7f49219babe1eff7b0f9ee","object":"Rate","created_at":"2015-12-02T21:34:35Z","updated_at":"2015-12-02T21:34:35Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_4dc66c75110f4faa9e421732d36e3f21","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_947a9aa6312f490c832bf2195a5354da","object":"Rate","created_at":"2015-12-02T21:34:35Z","updated_at":"2015-12-02T21:34:35Z","mode":"test","service":"Express","carrier":"USPS","rate":"25.21","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"25.21","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_4dc66c75110f4faa9e421732d36e3f21","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_dce8c33a921c424f84eec963ca9600a2","object":"Address","created_at":"2015-12-02T21:34:34Z","updated_at":"2015-12-02T21:34:34Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":5,"return_address":{"id":"adr_593b8ffc28504ecf99f56bbf2689c74b","object":"Address","created_at":"2015-12-02T21:34:34Z","updated_at":"2015-12-02T21:34:34Z","name":null,"company":"Spree
        Test Store 33","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_dce8c33a921c424f84eec963ca9600a2","object":"Address","created_at":"2015-12-02T21:34:34Z","updated_at":"2015-12-02T21:34:34Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_4dc66c75110f4faa9e421732d36e3f21","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:37 GMT
recorded_with: VCR 3.0.0
