---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=10%20Lovely%20Street&address[street2]=Northwest&address[city]=Herndon&address[zip]=35005&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_e5a092fa2b7c49df9f11ff72816509b4"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2ffb20cf81984cc59b8a9e1f219f4a3"
      X-Node:
      - web15sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_e5a092fa2b7c49df9f11ff72816509b4","object":"Address","created_at":"2015-12-02T21:34:31Z","updated_at":"2015-12-02T21:34:31Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:33 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_47714239e51e42e4a7aea51fd3157479"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84881b1da092d5801e9b79eb9ba42c92"
      X-Node:
      - web11sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_47714239e51e42e4a7aea51fd3157479","object":"Parcel","created_at":"2015-12-02T21:34:32Z","updated_at":"2015-12-02T21:34:32Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:34 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_e5a092fa2b7c49df9f11ff72816509b4&shipment[from_address][id]=adr_021c0cc6bb97492c8d868d6c3fa1313b&shipment[parcel][id]=prcl_47714239e51e42e4a7aea51fd3157479
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_77b6bd5d9aad494ea2ce81c4793b420f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e10a6f95e22bef5b66ec3dcfc4860fd"
      X-Node:
      - web6sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:32Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:32Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_021c0cc6bb97492c8d868d6c3fa1313b","object":"Address","created_at":"2015-12-02T21:34:31Z","updated_at":"2015-12-02T21:34:31Z","name":null,"company":"Spree
        Test Store 31","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_47714239e51e42e4a7aea51fd3157479","object":"Parcel","created_at":"2015-12-02T21:34:32Z","updated_at":"2015-12-02T21:34:32Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_844f66f537d948a794652191c3fdb986","object":"Rate","created_at":"2015-12-02T21:34:33Z","updated_at":"2015-12-02T21:34:33Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_77b6bd5d9aad494ea2ce81c4793b420f","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_7bf13b7cfa1c47628bc44d68b39f88a7","object":"Rate","created_at":"2015-12-02T21:34:33Z","updated_at":"2015-12-02T21:34:33Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.54","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.54","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_77b6bd5d9aad494ea2ce81c4793b420f","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_67555e910c5642568f47d441f5adf4bc","object":"Rate","created_at":"2015-12-02T21:34:33Z","updated_at":"2015-12-02T21:34:33Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.09","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"6.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_77b6bd5d9aad494ea2ce81c4793b420f","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_bc4127f5d8ca4b1abb0ac84cf2a53512","object":"Rate","created_at":"2015-12-02T21:34:33Z","updated_at":"2015-12-02T21:34:33Z","mode":"test","service":"Express","carrier":"USPS","rate":"25.21","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"25.21","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_77b6bd5d9aad494ea2ce81c4793b420f","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_e5a092fa2b7c49df9f11ff72816509b4","object":"Address","created_at":"2015-12-02T21:34:31Z","updated_at":"2015-12-02T21:34:31Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":5,"return_address":{"id":"adr_021c0cc6bb97492c8d868d6c3fa1313b","object":"Address","created_at":"2015-12-02T21:34:31Z","updated_at":"2015-12-02T21:34:31Z","name":null,"company":"Spree
        Test Store 31","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_e5a092fa2b7c49df9f11ff72816509b4","object":"Address","created_at":"2015-12-02T21:34:31Z","updated_at":"2015-12-02T21:34:31Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_77b6bd5d9aad494ea2ce81c4793b420f","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:35 GMT
recorded_with: VCR 3.0.0
