---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f3cee61766d000110ba
      Location:
      - "/api/v2/addresses/adr_5118f161c52c49cdb5667f4b4f5d18c8"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_5118f161c52c49cdb5667f4b4f5d18c8","object":"Address","created_at":"2019-11-12T08:37:16Z","updated_at":"2019-11-12T08:37:16Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:37:16 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f3dee824cd0000110d1
      Location:
      - "/api/v2/parcels/prcl_d63162bf410e497cbe4a449cef86454d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb1wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_d63162bf410e497cbe4a449cef86454d","object":"Parcel","created_at":"2019-11-12T08:37:17Z","updated_at":"2019-11-12T08:37:17Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:37:18 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_5118f161c52c49cdb5667f4b4f5d18c8&shipment[from_address][id]=adr_99f3a71054054336861fc0f6112aa514&shipment[parcel][id]=prcl_d63162bf410e497cbe4a449cef86454d
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f3eee82dd74000110db
      Location:
      - "/api/v2/shipments/shp_67ceeb526d544a5b9472dc54b1682366"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:37:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:37:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_99f3a71054054336861fc0f6112aa514","object":"Address","created_at":"2019-11-12T08:37:17Z","updated_at":"2019-11-12T08:37:17Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d63162bf410e497cbe4a449cef86454d","object":"Parcel","created_at":"2019-11-12T08:37:17Z","updated_at":"2019-11-12T08:37:17Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_1e5cb67fa6c44e949c8e44aa48649985","object":"Rate","created_at":"2019-11-12T08:37:18Z","updated_at":"2019-11-12T08:37:18Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_67ceeb526d544a5b9472dc54b1682366","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_1ecc048967d74f8a97475df4815ac91a","object":"Rate","created_at":"2019-11-12T08:37:18Z","updated_at":"2019-11-12T08:37:18Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_67ceeb526d544a5b9472dc54b1682366","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_102663caa0724d2fa02c5ac7cf679a6e","object":"Rate","created_at":"2019-11-12T08:37:18Z","updated_at":"2019-11-12T08:37:18Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_67ceeb526d544a5b9472dc54b1682366","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_da7a099f5e254e709dc5ceb86ba824a9","object":"Rate","created_at":"2019-11-12T08:37:18Z","updated_at":"2019-11-12T08:37:18Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_67ceeb526d544a5b9472dc54b1682366","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_5118f161c52c49cdb5667f4b4f5d18c8","object":"Address","created_at":"2019-11-12T08:37:16Z","updated_at":"2019-11-12T08:37:16Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_99f3a71054054336861fc0f6112aa514","object":"Address","created_at":"2019-11-12T08:37:17Z","updated_at":"2019-11-12T08:37:17Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_5118f161c52c49cdb5667f4b4f5d18c8","object":"Address","created_at":"2019-11-12T08:37:16Z","updated_at":"2019-11-12T08:37:16Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_67ceeb526d544a5b9472dc54b1682366","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:37:19 GMT
recorded_with: VCR 5.0.0
