---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 19e6c2535f6b556cee70c46e0003dc7e
      Location:
      - "/api/v2/addresses/adr_7a8f051d63d3460089c55178ca01d207"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a561deb64e
      - intlb1nuq 8df81f0396
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_7a8f051d63d3460089c55178ca01d207","object":"Address","created_at":"2020-09-23T14:02:20Z","updated_at":"2020-09-23T14:02:20Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Sep 2020 14:02:20 GMT
recorded_with: VCR 6.0.0
