---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_a8b4591ed0b74482b1db0b9b42b28e52"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b498a176dd622b0eff627e51b2e725b7"
      X-Node:
      - web4sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_a8b4591ed0b74482b1db0b9b42b28e52","object":"Parcel","created_at":"2015-12-02T21:34:18Z","updated_at":"2015-12-02T21:34:18Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:20 GMT
recorded_with: VCR 3.0.0
