---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b17032b05d775cd5ee6f284900061c80
      Location:
      - "/api/v2/parcels/prcl_727588916f514424b6623c4f6bf122cb"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj ff5a2958df
      - intlb1sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_727588916f514424b6623c4f6bf122cb","object":"Parcel","created_at":"2019-09-10T08:20:37Z","updated_at":"2019-09-10T08:20:37Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:20:37 GMT
recorded_with: VCR 5.0.0
