---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[zip]=08835&address[phone]=(202)%20456-1111&address[name]=NY%20Warehouse&address[company]=NY%20Warehouse&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f1fee7148d200010ea7
      Location:
      - "/api/v2/addresses/adr_4f0a86e8ad67474db08e2e467552e7e8"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4f0a86e8ad67474db08e2e467552e7e8","object":"Address","created_at":"2019-11-12T08:36:47Z","updated_at":"2019-11-12T08:36:47Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:36:47 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f20ee80b8ac00010ebf
      Location:
      - "/api/v2/parcels/prcl_b5ef4bb0dccb452c89cce15ee958b73a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_b5ef4bb0dccb452c89cce15ee958b73a","object":"Parcel","created_at":"2019-11-12T08:36:48Z","updated_at":"2019-11-12T08:36:48Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:36:48 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[from_address][id]=adr_4f0a86e8ad67474db08e2e467552e7e8&shipment[to_address][id]=adr_cfaea74467864c2f8e40cc85f3e2f8e2&shipment[parcel][id]=prcl_b5ef4bb0dccb452c89cce15ee958b73a&shipment[is_return]=true
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f21ee7276b000010ed0
      Location:
      - "/api/v2/shipments/shp_d0b93bfd15fa443c852ee49ff049939d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:36:49Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:36:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4f0a86e8ad67474db08e2e467552e7e8","object":"Address","created_at":"2019-11-12T08:36:47Z","updated_at":"2019-11-12T08:36:47Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b5ef4bb0dccb452c89cce15ee958b73a","object":"Parcel","created_at":"2019-11-12T08:36:48Z","updated_at":"2019-11-12T08:36:48Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_077f2bdf8cf34fbc9edd937d0c05c57e","object":"Rate","created_at":"2019-11-12T08:36:49Z","updated_at":"2019-11-12T08:36:49Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d0b93bfd15fa443c852ee49ff049939d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_55d7d1a29dd046ea821ee2f309eee8fd","object":"Rate","created_at":"2019-11-12T08:36:49Z","updated_at":"2019-11-12T08:36:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d0b93bfd15fa443c852ee49ff049939d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a5978da0359945bb8e78aac1d221cead","object":"Rate","created_at":"2019-11-12T08:36:49Z","updated_at":"2019-11-12T08:36:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d0b93bfd15fa443c852ee49ff049939d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_c79b16c97ece4f6b9ff3d2e0bac62363","object":"Rate","created_at":"2019-11-12T08:36:49Z","updated_at":"2019-11-12T08:36:49Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_d0b93bfd15fa443c852ee49ff049939d","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_cfaea74467864c2f8e40cc85f3e2f8e2","object":"Address","created_at":"2019-11-12T08:36:48Z","updated_at":"2019-11-12T08:36:48Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_4f0a86e8ad67474db08e2e467552e7e8","object":"Address","created_at":"2019-11-12T08:36:47Z","updated_at":"2019-11-12T08:36:47Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_cfaea74467864c2f8e40cc85f3e2f8e2","object":"Address","created_at":"2019-11-12T08:36:48Z","updated_at":"2019-11-12T08:36:48Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_d0b93bfd15fa443c852ee49ff049939d","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:36:49 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_d0b93bfd15fa443c852ee49ff049939d/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_077f2bdf8cf34fbc9edd937d0c05c57e
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f22ee71d50d00010edf
      Content-Type:
[...]
