---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_d20397df79f3410fa4d4deb5bd58c3dc"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"430f08aeea6039156387c44f09ad14e2"
      X-Node:
      - web6sj, 853f9c221e
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"adr_d20397df79f3410fa4d4deb5bd58c3dc","object":"Address","created_at":"2015-12-08T23:06:57Z","updated_at":"2015-12-08T23:06:57Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 08 Dec 2015 23:07:00 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_7b63e434b5074110887fce9878eed538"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"51a0cd70cf086f537a407bbb3827f9aa"
      X-Node:
      - web11sj, 853f9c221e
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"id":"prcl_7b63e434b5074110887fce9878eed538","object":"Parcel","created_at":"2015-12-08T23:06:57Z","updated_at":"2015-12-08T23:06:57Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 08 Dec 2015 23:07:01 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_d20397df79f3410fa4d4deb5bd58c3dc&shipment[from_address][id]=adr_bb622d9509724f3da12180181b71438d&shipment[parcel][id]=prcl_7b63e434b5074110887fce9878eed538
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_b69897f35b5743899ede8df57c3b0896"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"831230825fdd96136823d4333773dce6"
      X-Node:
      - web15sj, 853f9c221e
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-08T23:06:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-08T23:06:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_bb622d9509724f3da12180181b71438d","object":"Address","created_at":"2015-12-08T23:06:57Z","updated_at":"2015-12-08T23:06:57Z","name":null,"company":"Spree
        Test Store 35","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_7b63e434b5074110887fce9878eed538","object":"Parcel","created_at":"2015-12-08T23:06:57Z","updated_at":"2015-12-08T23:06:57Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_fe6c9a8f77aa4a209aca9dcd6117a163","object":"Rate","created_at":"2015-12-08T23:06:58Z","updated_at":"2015-12-08T23:06:58Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.70","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.70","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_b69897f35b5743899ede8df57c3b0896","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_6d1dff79782e45afb321ead77cfb9b82","object":"Rate","created_at":"2015-12-08T23:06:58Z","updated_at":"2015-12-08T23:06:58Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_b69897f35b5743899ede8df57c3b0896","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_fc57250217d24510be2b4633dcd7b656","object":"Rate","created_at":"2015-12-08T23:06:58Z","updated_at":"2015-12-08T23:06:58Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.05","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_b69897f35b5743899ede8df57c3b0896","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_eef8e287158b4828a6fe9e8159cc1283","object":"Rate","created_at":"2015-12-08T23:06:58Z","updated_at":"2015-12-08T23:06:58Z","mode":"test","service":"Express","carrier":"USPS","rate":"15.13","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"15.13","list_currency":"USD","delivery_days":0,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":0,"shipment_id":"shp_b69897f35b5743899ede8df57c3b0896","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_d20397df79f3410fa4d4deb5bd58c3dc","object":"Address","created_at":"2015-12-08T23:06:57Z","updated_at":"2015-12-08T23:06:57Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_bb622d9509724f3da12180181b71438d","object":"Address","created_at":"2015-12-08T23:06:57Z","updated_at":"2015-12-08T23:06:57Z","name":null,"company":"Spree
        Test Store 35","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_d20397df79f3410fa4d4deb5bd58c3dc","object":"Address","created_at":"2015-12-08T23:06:57Z","updated_at":"2015-12-08T23:06:57Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_b69897f35b5743899ede8df57c3b0896","object":"Shipment"}'
  recorded_at: Tue, 08 Dec 2015 23:07:02 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_ca8cd21cab604f0ea3c3bd7868702a1c/buy
    body:
      encoding: US-ASCII
      string: rate[id]=rate_ade0e2c893e647ab912aa184fef8561a
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"940870a041a07cf004cfeabb65c34b7f"
      X-Node:
      - web3sj, 853f9c221e
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, b89c00fb8c
    body:
      encoding: UTF-8
      string: '{"postage_label":{"id":"pl_b0e149176a7b4313bb1d982705e71da6","object":"PostageLabel","created_at":"2015-12-08T23:07:02Z","updated_at":"2015-12-08T23:07:02Z","date_advance":0,"integrated_form":"none","label_date":"2015-12-08T23:07:00Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"http://assets.geteasypost.com/postage_labels/labels/20151208/c2e6cfedd0744e598ae2d9266f97aaed.png","label_file_type":"image/png","label_pdf_url":null,"label_epl2_url":null,"label_zpl_url":null},"tracking_code":"9499907123456123456781","tracker":{"id":"trk_e62688bbf322406baafd36f921b981b7","object":"Tracker","mode":"test","tracking_code":"9499907123456123456781","status":"unknown","created_at":"2015-12-08T23:07:03Z","updated_at":"2015-12-08T23:07:03Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_ca8cd21cab604f0ea3c3bd7868702a1c","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null},"insurance":null,"selected_rate":{"id":"rate_ade0e2c893e647ab912aa184fef8561a","object":"Rate","created_at":"2015-12-08T23:07:01Z","updated_at":"2015-12-08T23:07:01Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_ca8cd21cab604f0ea3c3bd7868702a1c","carrier_account_id":"ca_mtb51Ve0"},"forms":[],"messages":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.05000","charged":false,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"3.07000","charged":false,"refunded":false}]}'
  recorded_at: Tue, 08 Dec 2015 23:07:06 GMT
recorded_with: VCR 3.0.0
