---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[zip]=08835&address[phone]=(202)%20456-1111&address[name]=NY%20Warehouse&address[company]=NY%20Warehouse&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f24ee83654f00010f03
      Location:
      - "/api/v2/addresses/adr_d8dc293e9ce94cd28540968735619cf4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb1wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_d8dc293e9ce94cd28540968735619cf4","object":"Address","created_at":"2019-11-12T08:36:52Z","updated_at":"2019-11-12T08:36:52Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:36:52 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f25ee82614c00010f14
      Location:
      - "/api/v2/parcels/prcl_b454b10a3fb14c99a57341d646075229"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_b454b10a3fb14c99a57341d646075229","object":"Parcel","created_at":"2019-11-12T08:36:53Z","updated_at":"2019-11-12T08:36:53Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:36:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[from_address][id]=adr_d8dc293e9ce94cd28540968735619cf4&shipment[to_address][id]=adr_6909e24eed1e43d5ba4abd590c97a67a&shipment[parcel][id]=prcl_b454b10a3fb14c99a57341d646075229&shipment[is_return]=true
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f26ee82d4ce00010f1c
      Location:
      - "/api/v2/shipments/shp_6307ed01dbd346d09710e0c6eae4cf95"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:36:54Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:36:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d8dc293e9ce94cd28540968735619cf4","object":"Address","created_at":"2019-11-12T08:36:52Z","updated_at":"2019-11-12T08:36:52Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b454b10a3fb14c99a57341d646075229","object":"Parcel","created_at":"2019-11-12T08:36:53Z","updated_at":"2019-11-12T08:36:53Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_46cc75f4876e41459252f3c1b2637932","object":"Rate","created_at":"2019-11-12T08:36:54Z","updated_at":"2019-11-12T08:36:54Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6307ed01dbd346d09710e0c6eae4cf95","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_0566f8c4096f412c93ad8367c052f87b","object":"Rate","created_at":"2019-11-12T08:36:54Z","updated_at":"2019-11-12T08:36:54Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6307ed01dbd346d09710e0c6eae4cf95","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_33510a6287fc49b2831190df6e64af46","object":"Rate","created_at":"2019-11-12T08:36:54Z","updated_at":"2019-11-12T08:36:54Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_6307ed01dbd346d09710e0c6eae4cf95","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_2a9c28e4c50a4f67be5a4013b84c33cc","object":"Rate","created_at":"2019-11-12T08:36:54Z","updated_at":"2019-11-12T08:36:54Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6307ed01dbd346d09710e0c6eae4cf95","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_6909e24eed1e43d5ba4abd590c97a67a","object":"Address","created_at":"2019-11-12T08:36:53Z","updated_at":"2019-11-12T08:36:53Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_d8dc293e9ce94cd28540968735619cf4","object":"Address","created_at":"2019-11-12T08:36:52Z","updated_at":"2019-11-12T08:36:52Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_6909e24eed1e43d5ba4abd590c97a67a","object":"Address","created_at":"2019-11-12T08:36:53Z","updated_at":"2019-11-12T08:36:53Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_6307ed01dbd346d09710e0c6eae4cf95","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:36:54 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_6307ed01dbd346d09710e0c6eae4cf95/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_46cc75f4876e41459252f3c1b2637932
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f27ee71d86300010f29
      Content-Type:
[...]
