---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[zip]=08835&address[phone]=(202)%20456-1111&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775d0eee7275cf000026ad
      Location:
      - "/api/v2/addresses/adr_6c5555b34fcb4951b16454f5558bd832"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_6c5555b34fcb4951b16454f5558bd832","object":"Address","created_at":"2019-09-10T08:21:34Z","updated_at":"2019-09-10T08:21:34Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Sep 2019 08:21:34 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775d0fee80ab09000026ce
      Location:
      - "/api/v2/parcels/prcl_aab361beb2af46d88ce70bedc442d9a5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb1wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_aab361beb2af46d88ce70bedc442d9a5","object":"Parcel","created_at":"2019-09-10T08:21:35Z","updated_at":"2019-09-10T08:21:35Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:21:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[from_address][id]=adr_6c5555b34fcb4951b16454f5558bd832&shipment[to_address][id]=adr_f7d174a34e6f4bb4b375cfdbc5d34cde&shipment[parcel][id]=prcl_aab361beb2af46d88ce70bedc442d9a5&shipment[is_return]=true
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775d10ee81c7e6000026e9
      Location:
      - "/api/v2/shipments/shp_2361ee7153164ad6b60a87aa67f2fda4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-09-10T08:21:36Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-09-10T08:21:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6c5555b34fcb4951b16454f5558bd832","object":"Address","created_at":"2019-09-10T08:21:34Z","updated_at":"2019-09-10T08:21:34Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_aab361beb2af46d88ce70bedc442d9a5","object":"Parcel","created_at":"2019-09-10T08:21:35Z","updated_at":"2019-09-10T08:21:35Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_ac02ed20a6d745e6ad89f78b3d294bb8","object":"Rate","created_at":"2019-09-10T08:21:36Z","updated_at":"2019-09-10T08:21:36Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2361ee7153164ad6b60a87aa67f2fda4","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_6eed18dd270a42e8a93a092c429f6876","object":"Rate","created_at":"2019-09-10T08:21:36Z","updated_at":"2019-09-10T08:21:36Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2361ee7153164ad6b60a87aa67f2fda4","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_01ff3bda445e432780b796b3d84a35c2","object":"Rate","created_at":"2019-09-10T08:21:36Z","updated_at":"2019-09-10T08:21:36Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2361ee7153164ad6b60a87aa67f2fda4","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_27c973236918475e8d895a6f81de9ed0","object":"Rate","created_at":"2019-09-10T08:21:36Z","updated_at":"2019-09-10T08:21:36Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2361ee7153164ad6b60a87aa67f2fda4","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_f7d174a34e6f4bb4b375cfdbc5d34cde","object":"Address","created_at":"2019-09-10T08:21:35Z","updated_at":"2019-09-10T08:21:35Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_6c5555b34fcb4951b16454f5558bd832","object":"Address","created_at":"2019-09-10T08:21:34Z","updated_at":"2019-09-10T08:21:34Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_f7d174a34e6f4bb4b375cfdbc5d34cde","object":"Address","created_at":"2019-09-10T08:21:35Z","updated_at":"2019-09-10T08:21:35Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_2361ee7153164ad6b60a87aa67f2fda4","object":"Shipment"}'
  recorded_at: Tue, 10 Sep 2019 08:21:36 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_2361ee7153164ad6b60a87aa67f2fda4/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_ac02ed20a6d745e6ad89f78b3d294bb8
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775d11ee71480800002704
      Content-Type:
[...]
