---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"A Different Road","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Doe","state":"NJ","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 937dbd605f6b5574ee6172540003ea37
      Location:
      - "/api/v2/addresses/adr_0cc81090534e41728038b5e22a6f3ee5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb1wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_0cc81090534e41728038b5e22a6f3ee5","object":"Address","created_at":"2020-09-23T14:02:28Z","updated_at":"2020-09-23T14:02:28Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Sep 2020 14:02:28 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 937dbd5c5f6b5575ee6fb4b20003ea70
      Location:
      - "/api/v2/parcels/prcl_9e3fdcef25004ae58598e94403f0b39e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc a561deb64e
      - intlb2sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_9e3fdcef25004ae58598e94403f0b39e","object":"Parcel","created_at":"2020-09-23T14:02:30Z","updated_at":"2020-09-23T14:02:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 23 Sep 2020 14:02:30 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_0cc81090534e41728038b5e22a6f3ee5"},"from_address":{"id":"adr_842818b6ca3346649927e0f3efa01e13"},"parcel":{"id":"prcl_9e3fdcef25004ae58598e94403f0b39e"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 937dbd5c5f6b5576ee7382d20003ea8d
      Location:
      - "/api/v2/shipments/shp_9e7444ccdcb34df69bfaa240c2022358"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb1wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-23T14:02:30Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-23T14:02:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_842818b6ca3346649927e0f3efa01e13","object":"Address","created_at":"2020-09-23T14:02:29Z","updated_at":"2020-09-23T14:02:29Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9e3fdcef25004ae58598e94403f0b39e","object":"Parcel","created_at":"2020-09-23T14:02:30Z","updated_at":"2020-09-23T14:02:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_15f71363d7b4455296c003fca2a6622a","object":"Rate","created_at":"2020-09-23T14:02:30Z","updated_at":"2020-09-23T14:02:30Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9e7444ccdcb34df69bfaa240c2022358","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_31d64d5c77e14bd0bddb34cc1342b977","object":"Rate","created_at":"2020-09-23T14:02:30Z","updated_at":"2020-09-23T14:02:30Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9e7444ccdcb34df69bfaa240c2022358","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_ebbcd0f57b43486881f3df7ed67b2e7a","object":"Rate","created_at":"2020-09-23T14:02:30Z","updated_at":"2020-09-23T14:02:30Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_9e7444ccdcb34df69bfaa240c2022358","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_9db3bcaacc3b4b028814744062c01388","object":"Rate","created_at":"2020-09-23T14:02:30Z","updated_at":"2020-09-23T14:02:30Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9e7444ccdcb34df69bfaa240c2022358","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_0cc81090534e41728038b5e22a6f3ee5","object":"Address","created_at":"2020-09-23T14:02:28Z","updated_at":"2020-09-23T14:02:28Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_842818b6ca3346649927e0f3efa01e13","object":"Address","created_at":"2020-09-23T14:02:29Z","updated_at":"2020-09-23T14:02:29Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_0cc81090534e41728038b5e22a6f3ee5","object":"Address","created_at":"2020-09-23T14:02:28Z","updated_at":"2020-09-23T14:02:28Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_9e7444ccdcb34df69bfaa240c2022358","object":"Shipment"}'
  recorded_at: Wed, 23 Sep 2020 14:02:31 GMT
recorded_with: VCR 6.0.0
