---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"A Different Road","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"NJ","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b8dcfe6761a02554e1e41210003743e8
      Location:
      - "/api/v2/addresses/adr_e390cbf84e4c11ec818eac1f6bc72124"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"394e3b879e1b701f218a1b8bc8f9880d"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202111250247-c9c40fee7d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq d40607e4ab
      - intlb2nuq d40607e4ab
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_e390cbf84e4c11ec818eac1f6bc72124","object":"Address","created_at":"2021-11-26T00:07:48+00:00","updated_at":"2021-11-26T00:07:48+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 26 Nov 2021 00:07:48 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b8dcfe6861a02555e1e415660037440c
      Location:
      - "/api/v2/parcels.prcl_58bec468061a4fd58277c35e8df0708e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d6cfe89f39f163d953eb911318322b7"
      X-Node:
      - bigweb8nuq
      X-Version-Label:
      - easypost-202111250247-c9c40fee7d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq d40607e4ab
      - intlb2nuq d40607e4ab
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_58bec468061a4fd58277c35e8df0708e","object":"Parcel","created_at":"2021-11-26T00:07:49Z","updated_at":"2021-11-26T00:07:49Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Fri, 26 Nov 2021 00:07:49 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_e390cbf84e4c11ec818eac1f6bc72124"},"from_address":{"id":"adr_e3da337b4e4c11ecb559ac1f6bc7b362"},"parcel":{"id":"prcl_58bec468061a4fd58277c35e8df0708e"},"options":{"handling_instructions":"an
        instruction"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b8dcfe6861a02555e1e4158e0037441a
      Location:
      - "/api/v2/shipments/shp_800055d88cbd45129a3b6d499457d39e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4c5cee2a0e043df17b5af6c78ccc4bc"
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202111250247-c9c40fee7d-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq d40607e4ab
      - intlb1nuq d40607e4ab
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-11-26T00:07:49Z","is_return":false,"messages":[],"mode":"test","options":{"handling_instructions":"AN
        INSTRUCTION","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2021-11-26T00:07:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e3da337b4e4c11ecb559ac1f6bc7b362","object":"Address","created_at":"2021-11-26T00:07:48+00:00","updated_at":"2021-11-26T00:07:48+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_58bec468061a4fd58277c35e8df0708e","object":"Parcel","created_at":"2021-11-26T00:07:49Z","updated_at":"2021-11-26T00:07:49Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_28990475583c4a8ea6da15622de5b51d","object":"Rate","created_at":"2021-11-26T00:07:49Z","updated_at":"2021-11-26T00:07:49Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.41","currency":"USD","retail_rate":"7.95","retail_currency":"USD","list_rate":"7.41","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_800055d88cbd45129a3b6d499457d39e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d9e08a93318c4e15bef6736a9dd37082","object":"Rate","created_at":"2021-11-26T00:07:49Z","updated_at":"2021-11-26T00:07:49Z","mode":"test","service":"First","carrier":"USPS","rate":"4.34","currency":"USD","retail_rate":"5.80","retail_currency":"USD","list_rate":"4.34","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_800055d88cbd45129a3b6d499457d39e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_6c8784b6f88a489187108f6463938df6","object":"Rate","created_at":"2021-11-26T00:07:49Z","updated_at":"2021-11-26T00:07:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.26","currency":"USD","retail_rate":"7.26","retail_currency":"USD","list_rate":"7.26","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_800055d88cbd45129a3b6d499457d39e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8eb6c36d6e594573a911e730899b237e","object":"Rate","created_at":"2021-11-26T00:07:49Z","updated_at":"2021-11-26T00:07:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.25","currency":"USD","retail_rate":"27.00","retail_currency":"USD","list_rate":"23.25","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_800055d88cbd45129a3b6d499457d39e","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_e390cbf84e4c11ec818eac1f6bc72124","object":"Address","created_at":"2021-11-26T00:07:48+00:00","updated_at":"2021-11-26T00:07:48+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_e3da337b4e4c11ecb559ac1f6bc7b362","object":"Address","created_at":"2021-11-26T00:07:48+00:00","updated_at":"2021-11-26T00:07:48+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_e390cbf84e4c11ec818eac1f6bc72124","object":"Address","created_at":"2021-11-26T00:07:48+00:00","updated_at":"2021-11-26T00:07:48+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_800055d88cbd45129a3b6d499457d39e","object":"Shipment"}'
  recorded_at: Fri, 26 Nov 2021 00:07:50 GMT
recorded_with: VCR 6.0.0
