---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 937dbd5e5f6b5578ee7306ae0003eaee
      Location:
      - "/api/v2/parcels/prcl_00995bcdb21d403a90b95841899e14fe"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_00995bcdb21d403a90b95841899e14fe","object":"Parcel","created_at":"2020-09-23T14:02:32Z","updated_at":"2020-09-23T14:02:32Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 23 Sep 2020 14:02:32 GMT
recorded_with: VCR 6.0.0
