---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Doe","state":"AL","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 19e6c2535f6b531bee702f6700037b84
      Location:
      - "/api/v2/addresses/adr_c01c9b83d73e424aa823417eff795017"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq a561deb64e
      - intlb1nuq 8df81f0396
      - intlb1sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_c01c9b83d73e424aa823417eff795017","object":"Address","created_at":"2020-09-23T13:52:27Z","updated_at":"2020-09-23T13:52:27Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Sep 2020 13:52:27 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4c4cd68b5f6b531cee8148b00002dfbb
      Location:
      - "/api/v2/parcels/prcl_c112e30e8ca245728eeed2e032106d33"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj a561deb64e
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_c112e30e8ca245728eeed2e032106d33","object":"Parcel","created_at":"2020-09-23T13:52:28Z","updated_at":"2020-09-23T13:52:28Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 23 Sep 2020 13:52:29 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_c01c9b83d73e424aa823417eff795017"},"from_address":{"id":"adr_c3f343fa69cf407f9073bd0d11b9bd00"},"parcel":{"id":"prcl_c112e30e8ca245728eeed2e032106d33"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 4c4cd68c5f6b531dee7147ca0002dfe0
      Location:
      - "/api/v2/shipments/shp_710e9784aa4741c1bfbdc5a55066fa03"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1sj a561deb64e
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-23T13:52:29Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-23T13:52:29Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c3f343fa69cf407f9073bd0d11b9bd00","object":"Address","created_at":"2020-09-23T13:52:28Z","updated_at":"2020-09-23T13:52:28Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c112e30e8ca245728eeed2e032106d33","object":"Parcel","created_at":"2020-09-23T13:52:28Z","updated_at":"2020-09-23T13:52:28Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_4e2ed3c5f40d4419860f58f7161bfe3d","object":"Rate","created_at":"2020-09-23T13:52:29Z","updated_at":"2020-09-23T13:52:29Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_710e9784aa4741c1bfbdc5a55066fa03","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_f431b917fc1948d183b681886d2d1b91","object":"Rate","created_at":"2020-09-23T13:52:29Z","updated_at":"2020-09-23T13:52:29Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_710e9784aa4741c1bfbdc5a55066fa03","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_65a2b4e07c1d49b091847f85c6695233","object":"Rate","created_at":"2020-09-23T13:52:29Z","updated_at":"2020-09-23T13:52:29Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_710e9784aa4741c1bfbdc5a55066fa03","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d758933d53be45b1b0a18d9f014df383","object":"Rate","created_at":"2020-09-23T13:52:29Z","updated_at":"2020-09-23T13:52:29Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_710e9784aa4741c1bfbdc5a55066fa03","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_c01c9b83d73e424aa823417eff795017","object":"Address","created_at":"2020-09-23T13:52:27Z","updated_at":"2020-09-23T13:52:27Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_c3f343fa69cf407f9073bd0d11b9bd00","object":"Address","created_at":"2020-09-23T13:52:28Z","updated_at":"2020-09-23T13:52:28Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_c01c9b83d73e424aa823417eff795017","object":"Address","created_at":"2020-09-23T13:52:27Z","updated_at":"2020-09-23T13:52:27Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_710e9784aa4741c1bfbdc5a55066fa03","object":"Shipment"}'
  recorded_at: Wed, 23 Sep 2020 13:52:30 GMT
recorded_with: VCR 6.0.0
