---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Doe","state":"AL","country":"US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3682484c5f6b531fee6f342e0002d1bd
      Location:
      - "/api/v2/addresses/adr_2d6a11e586a74dadb28f82899ad2404c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj a561deb64e
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_2d6a11e586a74dadb28f82899ad2404c","object":"Address","created_at":"2020-09-23T13:52:31Z","updated_at":"2020-09-23T13:52:31Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 23 Sep 2020 13:52:31 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a371cbc15f6b5320ee82e4c600036ec2
      Location:
      - "/api/v2/parcels/prcl_4e5b66d1b6504f2cab8d9fe8608314af"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc a561deb64e
      - intlb1wdc 8df81f0396
      - intlb2sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_4e5b66d1b6504f2cab8d9fe8608314af","object":"Parcel","created_at":"2020-09-23T13:52:32Z","updated_at":"2020-09-23T13:52:32Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 23 Sep 2020 13:52:32 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_2d6a11e586a74dadb28f82899ad2404c"},"from_address":{"id":"adr_61be3ffea25c476bb29e5542ddab5a58"},"parcel":{"id":"prcl_4e5b66d1b6504f2cab8d9fe8608314af"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - a371cbbd5f6b5321ee81dd2c00036edd
      Location:
      - "/api/v2/shipments/shp_e1e2793b59314da98ad6cc19da13ae98"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202009222104-7ce76ac125-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc a561deb64e
      - intlb1sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-23T13:52:33Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-23T13:52:33Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_61be3ffea25c476bb29e5542ddab5a58","object":"Address","created_at":"2020-09-23T13:52:31Z","updated_at":"2020-09-23T13:52:31Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4e5b66d1b6504f2cab8d9fe8608314af","object":"Parcel","created_at":"2020-09-23T13:52:32Z","updated_at":"2020-09-23T13:52:32Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_39a139afb5044dbfbc8e6fdffaf6e5f2","object":"Rate","created_at":"2020-09-23T13:52:33Z","updated_at":"2020-09-23T13:52:33Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e1e2793b59314da98ad6cc19da13ae98","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_ce355b22c3c54069aeb98b10ebe6c1bb","object":"Rate","created_at":"2020-09-23T13:52:33Z","updated_at":"2020-09-23T13:52:33Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e1e2793b59314da98ad6cc19da13ae98","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_49e4929a64df44c5bd279eaccb4412df","object":"Rate","created_at":"2020-09-23T13:52:33Z","updated_at":"2020-09-23T13:52:33Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_e1e2793b59314da98ad6cc19da13ae98","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_27ac05b45625451fa6c036688fb2ea04","object":"Rate","created_at":"2020-09-23T13:52:33Z","updated_at":"2020-09-23T13:52:33Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e1e2793b59314da98ad6cc19da13ae98","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_2d6a11e586a74dadb28f82899ad2404c","object":"Address","created_at":"2020-09-23T13:52:31Z","updated_at":"2020-09-23T13:52:31Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_61be3ffea25c476bb29e5542ddab5a58","object":"Address","created_at":"2020-09-23T13:52:31Z","updated_at":"2020-09-23T13:52:31Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_2d6a11e586a74dadb28f82899ad2404c","object":"Address","created_at":"2020-09-23T13:52:31Z","updated_at":"2020-09-23T13:52:31Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_e1e2793b59314da98ad6cc19da13ae98","object":"Shipment"}'
  recorded_at: Wed, 23 Sep 2020 13:52:33 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_e1e2793b59314da98ad6cc19da13ae98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a371cbc15f6b5322ee70bbc300036ef6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_e1e2793b59314da98ad6cc19da13ae98/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_39a139afb5044dbfbc8e6fdffaf6e5f2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Q3Z6WXR1ZGE2S1JJOUpqRzdTQUhiQTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a371cbc15f6b5323ee8368e600036f11
      Content-Typ[...]
