---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f0bee70cd3000010d3f
      Location:
      - "/api/v2/addresses/adr_e724013a44f34ee9ad906d02cf3a3c30"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_e724013a44f34ee9ad906d02cf3a3c30","object":"Address","created_at":"2019-11-12T08:36:27Z","updated_at":"2019-11-12T08:36:27Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:36:28 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f0dee70408c00010d5d
      Location:
      - "/api/v2/parcels/prcl_36974732824e4bfe843d16c39c23bb43"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_36974732824e4bfe843d16c39c23bb43","object":"Parcel","created_at":"2019-11-12T08:36:29Z","updated_at":"2019-11-12T08:36:29Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:36:29 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_e724013a44f34ee9ad906d02cf3a3c30&shipment[from_address][id]=adr_2ea946eea33445df8b45eeab0b8a98a4&shipment[parcel][id]=prcl_36974732824e4bfe843d16c39c23bb43
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f0dee82d00500010d6b
      Location:
      - "/api/v2/shipments/shp_6d2db70517ce4ee3a4071f448a6cc5b2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb1wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:36:30Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:36:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2ea946eea33445df8b45eeab0b8a98a4","object":"Address","created_at":"2019-11-12T08:36:28Z","updated_at":"2019-11-12T08:36:28Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_36974732824e4bfe843d16c39c23bb43","object":"Parcel","created_at":"2019-11-12T08:36:29Z","updated_at":"2019-11-12T08:36:29Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_5b417ec41a384f99b0e01a144ce688bb","object":"Rate","created_at":"2019-11-12T08:36:30Z","updated_at":"2019-11-12T08:36:30Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6d2db70517ce4ee3a4071f448a6cc5b2","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_bb39c5c3632543528c701e77e8371d5b","object":"Rate","created_at":"2019-11-12T08:36:30Z","updated_at":"2019-11-12T08:36:30Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6d2db70517ce4ee3a4071f448a6cc5b2","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8b7cacda0a994d3682e44103911de952","object":"Rate","created_at":"2019-11-12T08:36:30Z","updated_at":"2019-11-12T08:36:30Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_6d2db70517ce4ee3a4071f448a6cc5b2","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d0f8b2d94eb7453e912ee8eb825ee470","object":"Rate","created_at":"2019-11-12T08:36:30Z","updated_at":"2019-11-12T08:36:30Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6d2db70517ce4ee3a4071f448a6cc5b2","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_e724013a44f34ee9ad906d02cf3a3c30","object":"Address","created_at":"2019-11-12T08:36:27Z","updated_at":"2019-11-12T08:36:27Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_2ea946eea33445df8b45eeab0b8a98a4","object":"Address","created_at":"2019-11-12T08:36:28Z","updated_at":"2019-11-12T08:36:28Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_e724013a44f34ee9ad906d02cf3a3c30","object":"Address","created_at":"2019-11-12T08:36:27Z","updated_at":"2019-11-12T08:36:27Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_6d2db70517ce4ee3a4071f448a6cc5b2","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:36:30 GMT
recorded_with: VCR 5.0.0
