---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cdeee70386800002162
      Location:
      - "/api/v2/addresses/adr_edf2a15170974d918cd46bade11477c2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_edf2a15170974d918cd46bade11477c2","object":"Address","created_at":"2019-09-10T08:20:47Z","updated_at":"2019-09-10T08:20:47Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Sep 2019 08:20:47 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775ce0ee6f12450000219b
      Location:
      - "/api/v2/parcels/prcl_797e494efad34cc2aa098e5ceaadfea6"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_797e494efad34cc2aa098e5ceaadfea6","object":"Parcel","created_at":"2019-09-10T08:20:48Z","updated_at":"2019-09-10T08:20:48Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:20:48 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_edf2a15170974d918cd46bade11477c2&shipment[from_address][id]=adr_7de1367e19704f89a84d6eb18f7c6a41&shipment[parcel][id]=prcl_797e494efad34cc2aa098e5ceaadfea6
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775ce0ee6e9b05000021ad
      Location:
      - "/api/v2/shipments/shp_32525778a2cb4c2a8c48d80c09eae38e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-09-10T08:20:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-09-10T08:20:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7de1367e19704f89a84d6eb18f7c6a41","object":"Address","created_at":"2019-09-10T08:20:47Z","updated_at":"2019-09-10T08:20:47Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_797e494efad34cc2aa098e5ceaadfea6","object":"Parcel","created_at":"2019-09-10T08:20:48Z","updated_at":"2019-09-10T08:20:48Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_9a5dbb10233d4362b56c4fc0ea610fb4","object":"Rate","created_at":"2019-09-10T08:20:49Z","updated_at":"2019-09-10T08:20:49Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_32525778a2cb4c2a8c48d80c09eae38e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_609d47a484a84bfbb61f345d9dc69e24","object":"Rate","created_at":"2019-09-10T08:20:49Z","updated_at":"2019-09-10T08:20:49Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_32525778a2cb4c2a8c48d80c09eae38e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_cd6ab3baeff54880990597cd92d75d3c","object":"Rate","created_at":"2019-09-10T08:20:49Z","updated_at":"2019-09-10T08:20:49Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_32525778a2cb4c2a8c48d80c09eae38e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a5c6a9cff1f5472dbe901e5bca498829","object":"Rate","created_at":"2019-09-10T08:20:49Z","updated_at":"2019-09-10T08:20:49Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_32525778a2cb4c2a8c48d80c09eae38e","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_edf2a15170974d918cd46bade11477c2","object":"Address","created_at":"2019-09-10T08:20:47Z","updated_at":"2019-09-10T08:20:47Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_7de1367e19704f89a84d6eb18f7c6a41","object":"Address","created_at":"2019-09-10T08:20:47Z","updated_at":"2019-09-10T08:20:47Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_edf2a15170974d918cd46bade11477c2","object":"Address","created_at":"2019-09-10T08:20:47Z","updated_at":"2019-09-10T08:20:47Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_32525778a2cb4c2a8c48d80c09eae38e","object":"Shipment"}'
  recorded_at: Tue, 10 Sep 2019 08:20:49 GMT
recorded_with: VCR 5.0.0
