---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=10%20Lovely%20Street&address[street2]=Northwest&address[city]=Herndon&address[zip]=35005&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_f37ecd28628d4654ba9c267e55b91a0d"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8d7b95bda037d3cde9bcd76c8a3e1e2"
      X-Node:
      - web6sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_f37ecd28628d4654ba9c267e55b91a0d","object":"Address","created_at":"2015-12-02T21:34:27Z","updated_at":"2015-12-02T21:34:27Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:29 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_f169bc50b06b4128bf257794059ac7f4"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"018d53038fddf359fb4521e07681fcaa"
      X-Node:
      - web6sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_f169bc50b06b4128bf257794059ac7f4","object":"Parcel","created_at":"2015-12-02T21:34:27Z","updated_at":"2015-12-02T21:34:27Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:29 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_f37ecd28628d4654ba9c267e55b91a0d&shipment[from_address][id]=adr_4772759aa35744ba9a902b803529b11c&shipment[parcel][id]=prcl_f169bc50b06b4128bf257794059ac7f4
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_9fd6b5437ad94a2aa9df8c4d07df420f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48c2803b7685e0cb8b06f838b86ea989"
      X-Node:
      - web15sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:28Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4772759aa35744ba9a902b803529b11c","object":"Address","created_at":"2015-12-02T21:34:27Z","updated_at":"2015-12-02T21:34:27Z","name":null,"company":"Spree
        Test Store 27","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_f169bc50b06b4128bf257794059ac7f4","object":"Parcel","created_at":"2015-12-02T21:34:27Z","updated_at":"2015-12-02T21:34:27Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a137c3b1d8f749dabcde5aeaf4974db9","object":"Rate","created_at":"2015-12-02T21:34:28Z","updated_at":"2015-12-02T21:34:28Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.09","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"6.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_9fd6b5437ad94a2aa9df8c4d07df420f","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a3664b4f724145d7b8bd1eedd9944fb4","object":"Rate","created_at":"2015-12-02T21:34:28Z","updated_at":"2015-12-02T21:34:28Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_9fd6b5437ad94a2aa9df8c4d07df420f","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a90191065ebc421facac891e2e02fc41","object":"Rate","created_at":"2015-12-02T21:34:28Z","updated_at":"2015-12-02T21:34:28Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.54","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.54","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_9fd6b5437ad94a2aa9df8c4d07df420f","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_50637a985fad46d9a55a8416fdf55bab","object":"Rate","created_at":"2015-12-02T21:34:28Z","updated_at":"2015-12-02T21:34:28Z","mode":"test","service":"Express","carrier":"USPS","rate":"25.21","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"25.21","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_9fd6b5437ad94a2aa9df8c4d07df420f","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_f37ecd28628d4654ba9c267e55b91a0d","object":"Address","created_at":"2015-12-02T21:34:27Z","updated_at":"2015-12-02T21:34:27Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":5,"return_address":{"id":"adr_4772759aa35744ba9a902b803529b11c","object":"Address","created_at":"2015-12-02T21:34:27Z","updated_at":"2015-12-02T21:34:27Z","name":null,"company":"Spree
        Test Store 27","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_f37ecd28628d4654ba9c267e55b91a0d","object":"Address","created_at":"2015-12-02T21:34:27Z","updated_at":"2015-12-02T21:34:27Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_9fd6b5437ad94a2aa9df8c4d07df420f","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:30 GMT
recorded_with: VCR 3.0.0
