---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=10%20Lovely%20Street&address[street2]=Northwest&address[city]=Herndon&address[zip]=35005&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_a0fee59475404cb4b1467d223001e6e3"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d542e50a59e1746fc1379b1945cb691"
      X-Node:
      - web3sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_a0fee59475404cb4b1467d223001e6e3","object":"Address","created_at":"2015-12-02T21:34:25Z","updated_at":"2015-12-02T21:34:25Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:27 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_1a0a4eaf646f4439a64036bb685622e5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8383c617790f16730394299023cec127"
      X-Node:
      - web4sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_1a0a4eaf646f4439a64036bb685622e5","object":"Parcel","created_at":"2015-12-02T21:34:25Z","updated_at":"2015-12-02T21:34:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:27 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_a0fee59475404cb4b1467d223001e6e3&shipment[from_address][id]=adr_51401af8a3234d68af546c9dcc09ca60&shipment[parcel][id]=prcl_1a0a4eaf646f4439a64036bb685622e5
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_907fb085e9ad4a6991ee191da3a6cb75"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f02e83db21c158076b20bb75acc322fb"
      X-Node:
      - web14sj, 6427aa0e60
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:25Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:25Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_51401af8a3234d68af546c9dcc09ca60","object":"Address","created_at":"2015-12-02T21:34:25Z","updated_at":"2015-12-02T21:34:25Z","name":null,"company":"Spree
        Test Store 25","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_1a0a4eaf646f4439a64036bb685622e5","object":"Parcel","created_at":"2015-12-02T21:34:25Z","updated_at":"2015-12-02T21:34:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c2f80d09b999442b86540ef6008e4d27","object":"Rate","created_at":"2015-12-02T21:34:26Z","updated_at":"2015-12-02T21:34:26Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.09","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"6.09","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_907fb085e9ad4a6991ee191da3a6cb75","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a4a54eea260044af99a49250cc71abb4","object":"Rate","created_at":"2015-12-02T21:34:26Z","updated_at":"2015-12-02T21:34:26Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.54","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.54","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_907fb085e9ad4a6991ee191da3a6cb75","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_5ffa9cf706ff4af38acd59383049fa91","object":"Rate","created_at":"2015-12-02T21:34:26Z","updated_at":"2015-12-02T21:34:26Z","mode":"test","service":"First","carrier":"USPS","rate":"3.07","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.07","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_907fb085e9ad4a6991ee191da3a6cb75","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_df97e2f4a48c4b09b006a1cfdc0359ba","object":"Rate","created_at":"2015-12-02T21:34:26Z","updated_at":"2015-12-02T21:34:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"25.21","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"25.21","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_907fb085e9ad4a6991ee191da3a6cb75","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_a0fee59475404cb4b1467d223001e6e3","object":"Address","created_at":"2015-12-02T21:34:25Z","updated_at":"2015-12-02T21:34:25Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":5,"return_address":{"id":"adr_51401af8a3234d68af546c9dcc09ca60","object":"Address","created_at":"2015-12-02T21:34:25Z","updated_at":"2015-12-02T21:34:25Z","name":null,"company":"Spree
        Test Store 25","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_a0fee59475404cb4b1467d223001e6e3","object":"Address","created_at":"2015-12-02T21:34:25Z","updated_at":"2015-12-02T21:34:25Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_907fb085e9ad4a6991ee191da3a6cb75","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:28 GMT
recorded_with: VCR 3.0.0
