---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=10%20Lovely%20Street&address[street2]=Northwest&address[city]=Herndon&address[zip]=35005&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_507dce4a5a1b48ba89d13d53c8af4f73"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0230da91157af5f025c9f3fa51aa636e"
      X-Node:
      - web15sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_507dce4a5a1b48ba89d13d53c8af4f73","object":"Address","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:05 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_08e98dbccf1b4857b368c1c555a5b0ac"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aac2861ecf344ee6161d57f1a7ad3112"
      X-Node:
      - web3sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_08e98dbccf1b4857b368c1c555a5b0ac","object":"Parcel","created_at":"2015-12-02T21:34:04Z","updated_at":"2015-12-02T21:34:04Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:06 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_507dce4a5a1b48ba89d13d53c8af4f73&shipment[from_address][id]=adr_88e47d523d774c9c934027771aa7760a&shipment[parcel][id]=prcl_08e98dbccf1b4857b368c1c555a5b0ac
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_930c7f8131d74727b4cbbf248b7fdeb5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3027f5cb9cc6737aff7a29398153264f"
      X-Node:
      - web3sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:04Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:04Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_88e47d523d774c9c934027771aa7760a","object":"Address","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","name":null,"company":"Spree
        Test Store 3","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_08e98dbccf1b4857b368c1c555a5b0ac","object":"Parcel","created_at":"2015-12-02T21:34:04Z","updated_at":"2015-12-02T21:34:04Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_794b32c1493a4f46a8a0461287d81d22","object":"Rate","created_at":"2015-12-02T21:34:05Z","updated_at":"2015-12-02T21:34:05Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.55","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"7.55","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_930c7f8131d74727b4cbbf248b7fdeb5","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_92067cfe875d4b0691a68c95a3df93b5","object":"Rate","created_at":"2015-12-02T21:34:05Z","updated_at":"2015-12-02T21:34:05Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.63","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"7.63","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_930c7f8131d74727b4cbbf248b7fdeb5","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_ad8274d067da4e948aaa3aeed13d1bc4","object":"Rate","created_at":"2015-12-02T21:34:05Z","updated_at":"2015-12-02T21:34:05Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.43","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"27.43","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_930c7f8131d74727b4cbbf248b7fdeb5","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_507dce4a5a1b48ba89d13d53c8af4f73","object":"Address","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":5,"return_address":{"id":"adr_88e47d523d774c9c934027771aa7760a","object":"Address","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","name":null,"company":"Spree
        Test Store 3","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_507dce4a5a1b48ba89d13d53c8af4f73","object":"Address","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_930c7f8131d74727b4cbbf248b7fdeb5","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:07 GMT
recorded_with: VCR 3.0.0
