---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cedee6f30ad00002327
      Location:
      - "/api/v2/addresses/adr_91b7b6730eb94a4eb29751267985159b"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb1wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_91b7b6730eb94a4eb29751267985159b","object":"Address","created_at":"2019-09-10T08:21:01Z","updated_at":"2019-09-10T08:21:01Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Sep 2019 08:21:01 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cefee704ca500002357
      Location:
      - "/api/v2/parcels/prcl_ac700afe1c86409098a64c9c6b88c7fc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb1sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_ac700afe1c86409098a64c9c6b88c7fc","object":"Parcel","created_at":"2019-09-10T08:21:03Z","updated_at":"2019-09-10T08:21:03Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 10 Sep 2019 08:21:03 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_91b7b6730eb94a4eb29751267985159b&shipment[from_address][id]=adr_e2f0b30ca43241d580de1d30a346611e&shipment[parcel][id]=prcl_ac700afe1c86409098a64c9c6b88c7fc
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9da60c35d775cefee70d5100000236c
      Location:
      - "/api/v2/shipments/shp_a320d826b77a482f9cf4c9b2be716380"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-201909091924-20b1629d24-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc ff5a2958df
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-09-10T08:21:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-09-10T08:21:03Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_e2f0b30ca43241d580de1d30a346611e","object":"Address","created_at":"2019-09-10T08:21:02Z","updated_at":"2019-09-10T08:21:02Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ac700afe1c86409098a64c9c6b88c7fc","object":"Parcel","created_at":"2019-09-10T08:21:03Z","updated_at":"2019-09-10T08:21:03Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_bbb798188d3342c9b23ad17ec269a309","object":"Rate","created_at":"2019-09-10T08:21:03Z","updated_at":"2019-09-10T08:21:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.78","currency":"USD","retail_rate":"25.70","retail_currency":"USD","list_rate":"22.78","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_a320d826b77a482f9cf4c9b2be716380","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_7ffca775dfd64b49be1ae28d9b7eda66","object":"Rate","created_at":"2019-09-10T08:21:03Z","updated_at":"2019-09-10T08:21:03Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.42","currency":"USD","retail_rate":"7.85","retail_currency":"USD","list_rate":"7.42","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_a320d826b77a482f9cf4c9b2be716380","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b8e3d40f3a794cefbbb6a418d9dcb508","object":"Rate","created_at":"2019-09-10T08:21:03Z","updated_at":"2019-09-10T08:21:03Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.32","currency":"USD","retail_rate":"7.32","retail_currency":"USD","list_rate":"7.32","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a320d826b77a482f9cf4c9b2be716380","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_91b7b6730eb94a4eb29751267985159b","object":"Address","created_at":"2019-09-10T08:21:01Z","updated_at":"2019-09-10T08:21:01Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_e2f0b30ca43241d580de1d30a346611e","object":"Address","created_at":"2019-09-10T08:21:02Z","updated_at":"2019-09-10T08:21:02Z","name":null,"company":null,"street1":"131
        S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_91b7b6730eb94a4eb29751267985159b","object":"Address","created_at":"2019-09-10T08:21:01Z","updated_at":"2019-09-10T08:21:01Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_a320d826b77a482f9cf4c9b2be716380","object":"Shipment"}'
  recorded_at: Tue, 10 Sep 2019 08:21:04 GMT
recorded_with: VCR 5.0.0
