---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=10%20Lovely%20Street&address[street2]=Northwest&address[city]=Herndon&address[zip]=35005&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/addresses/adr_5fe58c42581949e39dc4ee6b55779f74"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"819b4a5754099fe22b8af2d37fa5b41a"
      X-Node:
      - web6sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"adr_5fe58c42581949e39dc4ee6b55779f74","object":"Address","created_at":"2015-12-02T21:34:01Z","updated_at":"2015-12-02T21:34:01Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}'
  recorded_at: Wed, 02 Dec 2015 21:34:03 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/api/v2/parcels/prcl_0f5910899bc347d388f0ed57cd1bc50f"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cc5474007eada135755d7b938071ef9"
      X-Node:
      - web5sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"id":"prcl_0f5910899bc347d388f0ed57cd1bc50f","object":"Parcel","created_at":"2015-12-02T21:34:01Z","updated_at":"2015-12-02T21:34:01Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Wed, 02 Dec 2015 21:34:03 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_5fe58c42581949e39dc4ee6b55779f74&shipment[from_address][id]=adr_f089f8e27a62486aa9dcdebc9aee7c88&shipment[parcel][id]=prcl_0f5910899bc347d388f0ed57cd1bc50f
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - "/account/shipments/shp_701e0552f46c4e6cadd7e4a039556505"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"721e66b6baa0ec014575fe2083c7491e"
      X-Node:
      - web5sj, e2304ceaff
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 6568750064
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-12-02T21:34:02Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2015-12-02T21:34:02Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f089f8e27a62486aa9dcdebc9aee7c88","object":"Address","created_at":"2015-12-02T21:34:01Z","updated_at":"2015-12-02T21:34:01Z","name":null,"company":"Spree
        Test Store 1","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"insurance":null,"parcel":{"id":"prcl_0f5910899bc347d388f0ed57cd1bc50f","object":"Parcel","created_at":"2015-12-02T21:34:01Z","updated_at":"2015-12-02T21:34:01Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_d8044d62b52f4b1c9dd4c1ab10f2fafc","object":"Rate","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.55","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"7.55","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_701e0552f46c4e6cadd7e4a039556505","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_77d9fb4af567489c9f543aee5b1fb015","object":"Rate","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.63","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"7.63","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":null,"shipment_id":"shp_701e0552f46c4e6cadd7e4a039556505","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_482895ff25bd488b93a74ca23827ad3a","object":"Rate","created_at":"2015-12-02T21:34:03Z","updated_at":"2015-12-02T21:34:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.43","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"27.43","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_701e0552f46c4e6cadd7e4a039556505","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_5fe58c42581949e39dc4ee6b55779f74","object":"Address","created_at":"2015-12-02T21:34:01Z","updated_at":"2015-12-02T21:34:01Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"usps_zone":5,"return_address":{"id":"adr_f089f8e27a62486aa9dcdebc9aee7c88","object":"Address","created_at":"2015-12-02T21:34:01Z","updated_at":"2015-12-02T21:34:01Z","name":null,"company":"Spree
        Test Store 1","street1":"1600 Pennsylvania Ave NW","street2":null,"city":"Washington","state":"AL","zip":"20500","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"buyer_address":{"id":"adr_5fe58c42581949e39dc4ee6b55779f74","object":"Address","created_at":"2015-12-02T21:34:01Z","updated_at":"2015-12-02T21:34:01Z","name":"John
        Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"35005","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null},"forms":[],"fees":[],"id":"shp_701e0552f46c4e6cadd7e4a039556505","object":"Shipment"}'
  recorded_at: Wed, 02 Dec 2015 21:34:04 GMT
recorded_with: VCR 3.0.0
