---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f3fee6f2300000110f6
      Location:
      - "/api/v2/addresses/adr_4c1653c11e964b449cef2ac800b76805"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1wdc ff5a2958df
      - intlb2sj ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4c1653c11e964b449cef2ac800b76805","object":"Address","created_at":"2019-11-12T08:37:19Z","updated_at":"2019-11-12T08:37:19Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 12 Nov 2019 08:37:20 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f41ee70d5b300011111
      Location:
      - "/api/v2/parcels/prcl_1f0f7959eced4dd49c84ad0fb9f389d6"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb1sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_1f0f7959eced4dd49c84ad0fb9f389d6","object":"Parcel","created_at":"2019-11-12T08:37:21Z","updated_at":"2019-11-12T08:37:21Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 12 Nov 2019 08:37:21 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_4c1653c11e964b449cef2ac800b76805&shipment[from_address][id]=adr_f88bee16344e42e89c00e58a430e0510&shipment[parcel][id]=prcl_1f0f7959eced4dd49c84ad0fb9f389d6
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 43c6543d5dca6f41ee8137e70001111d
      Location:
      - "/api/v2/shipments/shp_f10719d0a06e4f1c81de0059c1e5299e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-201911120131-f5c72b1880-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 2744487620
      - intlb2sj ff5a2958df
      - intlb2wdc ff5a2958df
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2019-11-12T08:37:22Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2019-11-12T08:37:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f88bee16344e42e89c00e58a430e0510","object":"Address","created_at":"2019-11-12T08:37:20Z","updated_at":"2019-11-12T08:37:20Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1f0f7959eced4dd49c84ad0fb9f389d6","object":"Parcel","created_at":"2019-11-12T08:37:21Z","updated_at":"2019-11-12T08:37:21Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_97b7051f6a8d4ddba4528eba5e9c579a","object":"Rate","created_at":"2019-11-12T08:37:22Z","updated_at":"2019-11-12T08:37:22Z","mode":"test","service":"Express","carrier":"USPS","rate":"22.74","currency":"USD","retail_rate":"25.60","retail_currency":"USD","list_rate":"22.74","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f10719d0a06e4f1c81de0059c1e5299e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_595b4c0ec8df4f78ac7ba8c129c4aca3","object":"Rate","created_at":"2019-11-12T08:37:22Z","updated_at":"2019-11-12T08:37:22Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.95","currency":"USD","retail_rate":"7.35","retail_currency":"USD","list_rate":"6.95","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f10719d0a06e4f1c81de0059c1e5299e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_4ed891faac1d4a15b4b5ca7b9720bae3","object":"Rate","created_at":"2019-11-12T08:37:22Z","updated_at":"2019-11-12T08:37:22Z","mode":"test","service":"First","carrier":"USPS","rate":"3.82","currency":"USD","retail_rate":"5.19","retail_currency":"USD","list_rate":"3.82","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f10719d0a06e4f1c81de0059c1e5299e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_111dea66600e419a98427f5fe49f4da6","object":"Rate","created_at":"2019-11-12T08:37:22Z","updated_at":"2019-11-12T08:37:22Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.85","currency":"USD","retail_rate":"6.85","retail_currency":"USD","list_rate":"6.85","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f10719d0a06e4f1c81de0059c1e5299e","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_4c1653c11e964b449cef2ac800b76805","object":"Address","created_at":"2019-11-12T08:37:19Z","updated_at":"2019-11-12T08:37:19Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_f88bee16344e42e89c00e58a430e0510","object":"Address","created_at":"2019-11-12T08:37:20Z","updated_at":"2019-11-12T08:37:20Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_4c1653c11e964b449cef2ac800b76805","object":"Address","created_at":"2019-11-12T08:37:19Z","updated_at":"2019-11-12T08:37:19Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_f10719d0a06e4f1c81de0059c1e5299e","object":"Shipment"}'
  recorded_at: Tue, 12 Nov 2019 08:37:22 GMT
recorded_with: VCR 5.0.0
